[2017-05-28 18:00] gajwani opened #838 "Podcasts"
Hi! I only just started using Windows 10 and this is definitely the app I love the most. It's super easy to use and has simple and elegant concepts.

I was wondering if you had thought about adding a Podcasts feature? So, for example, using RSS feeds, could we track podcasts and download them? That's a feature I've seen in some other players, and I'd love to see it here as well.

Thanks again for

[2019-10-26 08:39] digimezzo opened #1 "Design suggestions"
See https://github.com/digimezzo/Dopamine/issues/1043 for design suggestions.

[2019-12-13 15:43] digimezzo opened #2 "Keyboard left an right arrows should skip in songs"
Pressing the left arrow on the keyboard should skip back (default 10 or 15 seconds) and should be configurable. Pressing the right arrow should skip forward and also be configurable.

[2019-12-30 16:55] digimezzo opened #3 "Favorites"
Add a favorites category, which is populated with albums (or other items) that have been "favorited" by the user.

[2020-01-01 15:03] onetoomanyonesandzeroes opened #4 "Is playing .pls aka radio stations (or opening URL) supported ?"
Can't find any of this in the interface. Should I safely assume is unsupported and never will be?

[2020-01-01 16:01] digimezzo commented on #4
@onetoomanyonesandzeroes That is not supported by Dopamine 1 and 2.
I'm however open to look into it for Dopamine 3. Could you add some example radio station URL's in  this issue, so I can perform tests wit hthem during Dopamine 3 development?
Thanks!

[2020-01-01 16:06] onetoomanyonesandzeroes commented on #4
Sure.  [https://somafm.com/listen/genre.html.](https://somafm.com/listen/genre.html)  Any of those 128/256kbps are .pls files.

[2020-01-01 16:08] digimezzo commented on #4
Excellent. Thanks!

[2020-01-04 19:56] Nickiel12 opened #5 "Unable to build"
What are the different scripts for running this? And is it "working" because when I run _npm _start__ it comes up with a similar startup window as to that of windows, but when setup is done all it says is "collection works."

[2020-01-04 20:18] digimezzo commented on #5
@Nickiel12 You're doing it right. There is, at this point, nothing else that works. It is still in very early development.

[2020-01-04 20:20] Nickiel12 commented on #5
Thank you! I am currently enjoying your windows version, and was just checking out your other projects.

[2020-01-04 20:20] #5 closed

[2020-01-05 10:43] digimezzo commented on #5
@Nickiel12 Thanks for the interest. I'm finalizing Dopamine 2.0. It's release is imminent. After that, my main focus goes tot version 3.0, which is the code in this repository.

[2020-01-10 19:58] lucassshw opened #6 "Rich Presence to discord"
It would be interesting to show in the discord the name of the song, the album and the artist currently playing.

[2020-01-11 10:44] digimezzo opened #7 "Add release notes in About dialog"
See Insync app.

[2020-01-12 07:07] SCLeoX opened #8 "[Question] Is the database structure staying the same"
I have been a long time Dopamine user (the windows version). If I understand correctly, this electron version will become the future of Dopamine. I have rated hundreds of songs with the rating functionality with the windows version of Dopamine, and I don't want to lose those data. Thus, I am asking, will the database structure for the electron version stay the same as the windows version? If not,

[2020-01-12 07:09] digimezzo commented on #8
@SCLeoX The database structure will change. But I will provide a way to export rating and love data from version 2.0.x and import it in version 3.0.

[2020-01-12 07:11] SCLeoX commented on #8
@digimezzo I am so glad to hear that. <3

[2020-01-12 07:11] #8 closed

[2020-01-12 07:19] digimezzo opened #9 "Add functionality to import rating and love from Dopamine 2.0"
See title

[2020-01-12 10:04] Endermanch opened #10 "I wish Dopamine would save the sorting of the tracks somewhere, so I don't have to click on this every time."
![image](https://user-images.githubusercontent.com/44542704/72217166-ef28ea00-353b-11ea-867f-266f7a18b3c6.png)

[2020-01-12 17:13] Unohaken opened #11 "The things that's bothering me"
I've been looking for a new media player and this is the the best I've found so far, there's just two things that's bothering me

first i keep opening showcase screen by accident all the time when i skip forward and it reset the artist/albums screen and i have to find the artist again that i was playing.
a showcase button could be moved down to the equalizer or something or put an option to remove

[2020-01-12 19:20] alvanx opened #12 "Recently listened to OR added sort mode (suggestion)"
I'm just leaving this here as a suggestion. Google Play Music has an ingenious feature for sorting albums that will show both your most recently added and your recent listens. If you think about it, that seems to be the only sensible way to sort a music library (at least in my book ;-) ). Would be thrilled if Dopamine added a mode like this--for some reason, very few other music players do.

If yo

[2020-01-12 19:24] digimezzo commented on #12
@alvanx Thanks for the tip. I'll definately look into this.

[2020-01-18 17:10] phschimm commented on #12
This is _the_ single biggest feature I'm looking forward to.

[2020-01-19 19:59] IBWaters opened #13 "2.01 Playback Speed too fast"
Tried uninstalling and reinstalling.

[2020-01-19 20:35] digimezzo commented on #13
@IBWaters Set invalid, as not enough info.

[2020-01-19 23:41] IBWaters commented on #13
Probably double speed. Not just inaccurate speed.

[2020-01-22 14:36] piratetub opened #14 "Support for multiple artists"
Hi, I recently found _Dopamine_ through [reddit](https://www.reddit.com/r/Windows10/comments/es252m/microsoftlike_music_players/ff7slwm?) and decided to give it a spin.
One feature I felt missing was support for multiple artists (separated by a delimiter like ";", etc).

Dopamine's **current** behavior,  showing multiple Artist objects in the "Song list" like so:
[code]

**Expected** behavior:
[co

[2020-01-23 09:40] Owyn opened #15 "enlarge font size how?"
please setting

[2020-02-08 17:11] IBWaters opened #16 "Playback speed incorrect"
Trying to provide feedback about playback speed issue. Don't know why previous post was deemed invalid. Hello, is there anyone out there?

[2020-02-17 17:42] smarquespt opened #17 "Translation"
Hi, will this project allow translation like 2.0 did?

Regards

[2020-02-22 10:23] RoyalNexus opened #18 "Add distinction between discs belonging to the same album"
I've made a quick mock-up to show what I mean. Of course I am no designer, so it can definitely be made better. Thanks.

![AmART17Sv6](https://user-images.githubusercontent.com/45250649/75090665-e56dba00-55b0-11ea-860d-db19999ad70e.jpg)

[2020-02-22 10:44] RoyalNexus opened #19 "Exclude hidden folders in Windows from being added to collection"
Possibly the one feature I like from foobar2000 is the ability to exclude a song or soundbyte from my collection by hiding the file in Windows. Would it be possible to add this functionality? Thanks.

[2020-02-25 06:56] RoyalNexus commented on #18
My apologies, it seems that Dopamine already includes this functionality, but simply needs more tags (disc count, etc) beyond simply labeling the disc number in order to distinguish between them. This does however lead me to an interesting fringe case I'm having with my collection.

![8KWN3bg](https://user-images.githubusercontent.com/45250649/75220293-cb1f2080-57ea-11ea-9d56-a31ed832f60e.png)

Th

[2020-03-02 00:42] ultrafine opened #20 "Support for original aspect ratio for album covers."
Currently all covers are stretched to fit 1:1 aspect ratio. It would be great to have an option to view original aspect ratio covers, and show empty spaces transparently.

[2020-03-02 00:47] ultrafine opened #21 "Mouse scroll speed is too fast for infinite scroll."
With mouses that support infinite scroll (basically a smooth hardware scroll) the scroll speed is too fast.

[2020-03-03 00:53] SkilledHasBadPC opened #22 "How do I exactly build THIS version of Dopamine? (Version 3)"
I have tried using npm to build but I can't. Can you help me how to build Dopamine 3? Tysm.

[2020-03-10 13:40] Olkris2666 opened #23 "Playback slowdown and tearing"
My computer is always busy with many Chrome tabs and other resource hungry apps opened. But even still, every music app I've tested, including Microsoft's Groove don't have this slowdown issue.

[2020-03-10 13:50] Olkris2666 commented on #23
Here, I uploaded an example of the slowdown : https://www.pastefile.com/2MapAQ
Here is the original song for comparison : https://youtu.be/LiXoQXCFhF8

[2020-03-22 09:35] wacher74 commented on #23
+1 here.
I experience similar slowdowns, glitches mainly with Hi-res FLAC, not always but sometimes.
I provided an issue here already, but it has been closed as invalid (and deleted too).
Therefore I had to drop this nice player and return to my old one.

[2020-03-27 06:36] digimezzo opened #24 "Icons are blurry"
Content as well as windows control icons. Noticed in Windows 8.1 and 10.

[2020-04-03 07:23] Bigdragon13th opened #25 "Exclude specific folders from music collection?"
Hi, question here since I can't seem to find a way to do it.

Can we exclude some specific folders from our music collection? E.g. I want everything in `/music` in my collection except one `/music/abc` folder.

[2020-04-04 07:04] digimezzo commented on #25
@Bigdragon13th That is currently not possible. I'll leave this issue open to address this in version 3.0

[2020-04-06 08:04] RoyalNexus commented on #25
@digimezzo One way to do this is to simply exclude folders that are marked hidden in Windows, like foobar does.

[2020-04-12 05:50] darktomatoe opened #26 "Three things that will make this the best player ever! (Sorted by priority)"
1.) Sort songs by year > album in the songs category.  Also make the sort by year "ascending" so that we can listen to an artists discography starting from their earliest work to the latest.

2.) In the now playing section, allow for a larger, more defined Album Art. When I listen to my music, I like to have the lyrics and the album art as large as possible so I can take advantage of my high-res .

[2020-05-02 06:16] Alexander12444 opened #27 "Dopamine crash when performing specific actions"
Windows 10 Pro 1909 Build 18363.778
Dopamine 2.0.1.4000

Dopamine will crash when doing the following steps:

1. Open now playing
2. Click on a song so it is highlighted
3. Hold Ctrl and click Tab

[Dopamine.log](https://github.com/digimezzo/dopamine/files/4567179/Dopamine.log)

[2020-05-03 05:35] digimezzo opened #28 "I should be possible to add individual files to the collection"
- The Folders UI should support Folders and Files
- It should be possible to drag and drop folders and files on the UI

[2020-05-15 16:19] franktopel opened #29 "Dragging the volume knob is timed out while still dragging"
Trying to exactly adjust the volume using the volume slider is a real pain-in-the-ass.

When you try to drag the knob with the mouse, the volume panel keeps disappearing very quickly. It should not disappear while the user still hasn't ended the drag by releasing the left mouse button.

Can you please fix that?

[2020-05-16 16:25] theAlekhnovich opened #30 "Player doesn't play tracks"
Hi! I faced an issue recently -- player don't play any tracks. I tried to play a track via media keys on keyboard and button on my wireless headphones, but unsuccessfully.

I tried to completely sweep player out of my PC (with help of RevoUninstaller) and reinstall it, but it didn't worked out. Before it happen I tried to play a song during a conference in Zoom and set Dophamine as default player.

[2020-05-16 17:34] #30 closed

[2020-06-04 08:57] Nordo74 opened #31 "Incorrect Graphics for covers"
Dopamine v2.0.1(release)
Windows 10
Approximately 80 to 90% of my covers on display are incorrect.
How can I correct this?
i.e. download the correct covers?

[2020-06-10 11:43] digimezzo opened #32 "Remove Segoe MDL2 from the project"
Its license does not support usage in non-Windows applications

[2020-06-10 11:45] digimezzo opened #33 "Add dynamic Angular theming"
See:

https://stackoverflow.com/questions/54595709/create-angular-material-theme-with-css-variables
https://github.com/johannesjo/angular-material-css-vars

[2020-06-10 11:45] digimezzo opened #34 "Add new icons"
Also make sure that AppImage has a dock icon.

[2020-06-10 11:46] digimezzo opened #35 "Add native title bar"
See Knowte and Vitomu

[2020-06-11 16:22] rSes8 opened #36 "no more support of the opus audiocodec"
As of version 1.5.5 the support for opus files was introduced, but the two latest versions (2.X) aren't longer supported.

[2020-06-12 17:40] InoueTomoe opened #37 "Add and remove songs and some user friendliness feedback"
Hi,

I've just started using Dopamine as I was getting tired of Groove and Windows Media Player's limits, and so far Dopamine seems like a pretty good alternative, but I've run into a few interface counter-intuitiveness issues:

*I've mistakenly removed a song from an album and ever since then, I can't add it back and can't find the button for it as it isn't as obvious as / right next to the remov

[2020-06-13 20:07] digimezzo commented on #33
This was implemented

[2020-06-13 20:07] #33 closed

[2020-06-14 13:14] #34 closed

[2020-06-14 13:16] digimezzo opened #38 "Add customizable font size"

[2020-06-14 13:16] digimezzo opened #39 "Add update checker"

[2020-06-14 13:38] #35 closed

[2020-06-14 14:18] #39 closed

[2020-06-14 18:57] #32 closed

[2020-06-14 19:20] #38 closed

[2020-06-14 19:25] digimezzo opened #40 "Does VersionComparer take care of previews and betas?"

[2020-06-18 12:05] digimezzo opened #41 "Update icon in readme"
And add reference to author.

[2020-06-24 10:01] markjirousek opened #42 "Incorrect track duration"
The duration in the tracklist on the right is always correct but when playing some files then it displays a **higher duration** on the bottom right and so **the playback tracking line on the bottom never reaches the end**.

I already searched the net for this problem and verified my files with different tools and **they are not VBR or corrupt**.

[2020-06-24 10:10] #42 closed

[2020-06-24 22:38] isicb opened #43 "Incorrect artist ordering in the "Showcase" and "Now playing" screens"
My music library is all FLACs, some of which have multiple `ARTIST` tags for songs by multiple artists.
For example "Money Trees" is by Kendrick Lamar _and_ Jay Rock and Anna Wise:
![Edit](https://user-images.githubusercontent.com/67393823/85634024-80060480-b648-11ea-9714-a99271d498ff.png)
Dopamine _correctly_ identifies that such songs are by multiple, _separate_ artists:
![Artists tab](https://u

[2020-06-25 07:19] digimezzo commented on #43
@isicb Nice find! :) I'm probably ordering them alphabetically. I'll have a look.

[2020-06-25 13:42] dragonBall561 opened #44 "Compile Instructions Typo..."
Hello! I was compiling Dopamine and then I saw something weird in the instructions:

[code]

Was this supposed to be `cd dopamine` or was that correct?

[2020-06-25 14:43] digimezzo commented on #44
You're right, that is a copy-paste mistake. I copy pasted the instructions from Knowte.
Be aware though, that compiling Dopamine will, not yet, provide you with a functioning player. Currently, the welcome screen is being built.

[2020-06-25 22:25] dragonBall561 commented on #44
Yes, but the start screen is working perfectly!

[2020-06-25 22:25] #44 closed

[2020-06-26 21:36] dragonBall561 commented on #41
The 3.0 Dopamine Icon is really cool!

[2020-07-06 15:34] rSes8 commented on #36
Working in v2.0.2

[2020-07-06 15:34] #36 closed

[2020-07-06 15:45] rSes8 opened #45 "specific problem: using WinDock by ivanyu causes crash when moving the window"
WinDock is an alternative to the native windows feature of docking, moving and adjusting windows in the monitor. A crash, as soon as the window size is changed or it is moved (also with the mouse), can only be detected in Dopamine.

[2020-07-06 19:09] digimezzo commented on #45
@rSes8 Could you attach the log file to this issue? You'll find the log file in folder %appdata%\Dopamine\Log
Thank you!

[2020-07-07 13:55] rSes8 commented on #45
[Dopamine.log](https://github.com/digimezzo/dopamine/files/4885257/Dopamine.log)

[2020-07-08 18:24] digimezzo commented on #45
This is a dopamine-windows issue. I've fixed in. See https://github.com/digimezzo/dopamine-windows/issues/1167

[2020-07-08 18:24] #45 closed

[2020-07-12 17:42] leon14344 opened #47 "Artists section includes compilation albums when sorted by "album artist""
Dopamine 2.0.3
Windows 10

I have 3 albums under the name "The Band". For two albums of theirs (The Basement Tapes, and a self-titled album) they are both tagged with their name in the artist and album artist fields as part of standard ID3 tags. However, also appearing under their entry is "Goin' South", a compilation album that has "Various Artists" entered in its Album Artist field. The Band con

[2020-07-13 06:27] digimezzo commented on #47
@leon14344 Do you mean that the album is listed when clicking on the artist "The Band" or when clicking on "Various artists"?
Would you mind attaching your Dopamine.db to this issue, so I can have a look? You'll find it in folder %appdata%\Dopmamine. Thanks!

[2020-07-14 00:55] leon14344 commented on #47
@digimezzo It's listed under both, actually. In fact, the "Goin' South" album is listed under every artist that already has an existing entry in the Artists list; I have albums by The Band and The Allman Brothers Band and it appears there, but I don't have anything by .38 Special who appear on "Goin' South" and yet they don't get their own listing, only if I already have other albums.

Here's the

[2020-07-14 06:08] digimezzo commented on #47
@leon14344 Thank you for all this information. I'm checking it out.

[2020-07-14 06:59] digimezzo commented on #47
@leon14344 I fixed this issue :) The fix will be in the next release.

[2020-07-14 07:02] #47 closed

[2020-07-20 02:22] DevKrishan opened #48 "System Notifications (Play/pause key): Contents are wrong (track information missing)"
Refer image attached with the issue.

I really like the in app notification system when the song changes ,
A possible fix for this could be to show the notification each time the system volume is changed or when we press the volume button.

Else if the Devs would be able to fix the part where it only shows dopamine.exe in the media key handling system notification. It would be flawless.
![del](htt

[2020-07-21 18:11] NetboxMiner commented on #6
I agree with this one. I run a game server and do custom maps for it. I always have players asking what music I am listening to while I am map making and it would really be awesome to share that via a bot linking it to my name. Plus I think this could be good for Dopamine....have it say Listening with Dopamine, then track and artist...good advertising for you guys

[2020-07-22 01:01] Chealer commented on #48
Please explain how this bug can be reproduced.

[2020-07-22 05:56] DevKrishan commented on #48
Hey Philippe,

So in order to reproduce the issue, you simply turn on the "Enable System
Notifications" setting under the Playback settings tab. ( screenshot
attached )

Then when you play any music and try to volume up or down , the "Hardware
Media Key Handling Support by Windows" allows you to
play/pause/next/previous track and volume adjust in this overlay of
notification, which I believe is th

[2020-07-22 13:00] Chealer commented on #48
Thank you @DevKrishan I better understand your problem now. Which Dopamine version do you experience this with?
Your screenshots were not properly joined.

[2020-07-22 13:13] DevKrishan commented on #48
I experienced the issue with the latest build and the 2.0 version too. The screenshots are of the version 2 as I use that because it's a lighter version ( 13 MB on install , when compared to the latest build 69 MB )

Sorry , I attached them in email . Didn't realize it was a github notification
Hope this helps.
They are in order of how I mentioned
![image](https://user-images.githubusercontent.com

[2020-07-22 13:18] Chealer commented on #48
Thank you
When you write version "2.0", is that 2.0.0? Did you try with 2.0.3?

I suggest to re-title this ticket to "System Notifications (Play/pause key): Contents are wrong (track information missing)".

[2020-07-22 13:22] DevKrishan commented on #48
Yes I do mean 2.0.0 & 2.0.3 , sorry for my negligence.
Also done !
Please do let me know if I can be of any assistance :)

[2020-07-22 13:26] Chealer commented on #48
Thank you. I cannot reproduce this (using 2.0.3). The track title, the artist and the album cover show, and "dopamine.exe" does not show.

[2020-07-22 18:02] DevKrishan commented on #48
Hey I tried to completely remove 2.0.0 and fresh install 2.0.3 and the issue still persists.
See screenshots attached below.
I'll check with a friend of mine too on this and see, but  the issue still persists on my system.
I have Rainmeter installed and a certain chrome extension that handles the chrome  to system notifications.

Thank you so much for your time and consideration and I really respe

[2020-07-22 18:25] DevKrishan commented on #48
Okay so I turned off that extension in chrome and then instantly it showed me the song details for the dopamine player,
and I turned the extension on again and it still shows me all the relevant information.

So the issue seems to have resolved. Thank you so much for your assistance in this.

[2020-07-22 20:29] Chealer commented on #48
There's nothing to thank me about, glad that you solved it quickly.

It may help others if you could name the extension which triggered this problem.

[2020-07-22 20:36] dragonBall561 opened #49 "[BUG] Error when running `npm install` and when running `npm run rebuild-sqlite`"
When `better-sqlite` is being built, I get this error message

[code]

I will attach the NPM log.
[NPM_ERROR_LOG.log](https://github.com/digimezzo/dopamine/files/4962552/NPM_ERROR_LOG.log)

This is the output that I get when running `npm run rebuild-sqlite`:

[code]

And the log for that one too:
[NPM_ERROR_LOG_2.log](https://github.com/digimezzo/dopamine/files/4962561/NPM_ERROR_LOG_2.log)

[2020-07-23 06:23] digimezzo commented on #49
@dragonBall561 Which OS are you using? Some development tools seem to be missing. This post might help: https://unix.stackexchange.com/questions/140350/linux-g-command-not-found/470332

[2020-07-23 11:52] DevKrishan commented on #48
WebNowPlaying is the extension name , its used for Rainmeter's Audio visualizer for a interface with chrome and the rain meter skin

To fix the issue I had , just restart the extension and the player in any order. Hopefully it would work.

Thanks Devs !
![image](https://user-images.githubusercontent.com/15914359/88283147-81d6ec80-cd08-11ea-9ff9-affb88e7b077.png)

[2020-07-23 11:52] #48 closed

[2020-07-26 06:55] digimezzo opened #50 "Update or remove favicons"

[2020-07-26 22:14] stnm12brX2 opened #51 "issue running npm install on pop os 20.04"
weirdly enough, I can run npm run rebuild-sqlite and It successfully rebuilds...
here is the text that the command prints, I have no idea how to install peer dependencies.

meee@pop-os:~/dopamine$ npm install

  • electron-builder  version=22.5.1
  • loaded configuration  file=/home/sempai/dopamine/electron-builder.json
  • rebuilding native dependencies  dependencies=better-sqlite3@7.1.0 platform

[2020-07-26 22:15] stnm12brX2 commented on #51
forgot to add, sudo npm install -g install-peerdeps didn't work either.

[2020-07-27 07:43] digimezzo commented on #51
@stnm12brX2 This seems to be a permissions issue. npm is probably trying to install global packages, which reside in /usr/local/lib/node_modules, but your user doesn't have the required permissions to do so. Some people suggest to give to make your user the owner of /usr/local/lib, but I'm not sure that is a good solution. Please have a look at this page https://docs.npmjs.com/resolving-eacces-per

[2020-07-28 03:21] dragonBall561 commented on #49
Linux Mint 20 (Ubuntu 20.04)

[2020-07-28 03:22] dragonBall561 commented on #49
I already have the build-essental package

[2020-07-28 07:19] digimezzo opened #52 "Add hi-res audio logo"
See here:

![image](https://user-images.githubusercontent.com/11945339/88632088-6b87b280-d0b3-11ea-84f4-4b71522cc81c.png)

![image](https://user-images.githubusercontent.com/11945339/88632130-77737480-d0b3-11ea-81ea-b9f04e475760.png)

[2020-07-28 10:32] FrozenCoder1 commented on #52
White Player: Qobuz Desktop.
Blue Player: Audirvana Desktop.

[2020-07-28 10:33] FrozenCoder1 opened #53 "Not getting Synced Lyrics"
![Annotation 2020-07-28 160310](https://user-images.githubusercontent.com/66153345/88655069-da80fd80-d0eb-11ea-9d57-330530896949.png)

[2020-07-28 10:34] FrozenCoder1 commented on #53
Please can anyone add Musixmatch Support to it?

[2020-07-28 17:34] digimezzo commented on #53
@FrozenCoder1 Musixmatch is a paid service. It will, unfortunately, not be possible to use it in Dopamine.

[2020-07-28 17:34] digimezzo commented on #52
Thanks for adding the references :)

[2020-07-29 06:02] FrozenCoder1 commented on #52
😊😊👍

[2020-07-31 05:19] FrozenCoder1 commented on #52
Hey Bro, Can you please add this to Dopamine 3 Milestone as Enhancement?

[2020-07-31 08:50] digimezzo commented on #52
@FrozenCoder1 Could you explain what the importance of this icon is? I'm genially curious what it is used for.

[2020-07-31 17:29] Suppr opened #54 "Tools to manipulate Dopamine"
# Feature Request

An interface to get or set Dopamine informations :
- Current playing song info (title/artist/elapsed/length,...)
- Rating
- Playlist
- Controling the player (Next/Pause/Play...)

This could be use by Rainmeter/Conky for example.

[2020-08-01 12:37] franktopel opened #55 "Loading custom playlists takes very long"
Sometimes takes up to a minute to load a playlist with ~300 songs. Also there is no feedback of the UI in that time.

Why does this take so long? Can this be speeded up significantly, to let's say less than a second?

[2020-08-01 21:29] dragonBall561 commented on #49
I uninstalled and reinstalled the build-essential package and it worked!

[2020-08-01 21:29] #49 closed

[2020-08-02 05:52] digimezzo commented on #55
@franktopel Loading a playlist containing 300 songs takes 1 second here. Are your songs located on a NAS?

[2020-08-02 09:00] FrozenCoder1 commented on #52
Actually that's just an element that makes a music player more attractive, productive, and more customized...

You can refer to these...

![Annotation 2020-08-02 142827](https://user-images.githubusercontent.com/66153345/89119517-ab440500-d4cc-11ea-8da6-9ed85d0bd20a.png)
![Annotation 2020-08-02 142938](https://user-images.githubusercontent.com/66153345/89119521-ada65f00-d4cc-11ea-82d0-d57e6a303d14

[2020-08-02 09:01] FrozenCoder1 commented on #52
These logos also help to determine the Quality of Music...

[2020-08-02 09:03] FrozenCoder1 commented on #52
[https://github.com/digimezzo/dopamine-windows/issues/1152](url)

Can you please explain review this Post...?

[2020-08-02 09:11] franktopel commented on #55
Yes, the songs are locate on a NAS.

My optimization suggestion would be like

1. Display all the songs of the playlist without further ado immediately
2. Find the first song the software is going to play on its storage location
3. Start playing it
4. Do anything else you need to do while playing that first song.

if that is a viable optimization strategy.

[2020-08-02 09:44] digimezzo commented on #55
@franktopel These are interesting ideas. There's however the problem of reading the file tags. The song info which is displayed in the playlists, comes from tags. It's the reading of tags which causes the most overhead. I'm not sure how to get around that. I could, before reading the  tags, import just what's in the playlist file and then display what I can display. Then, after the files are displ

[2020-08-04 20:08] vivadavid opened #56 "Bottom bar always visible on playback screen"
Hi!

A few hours ago, I learnt about Dopamine, I tried it and I already love it!

I was wondering if there's a way to keep visible the bottom bar that is displayed in the playback screen (the bar with the play button, the progress bar, the volume, etc.). It's true that, when it goes away, the look is sleek and minimalist, but it'd be nice if users could be given the choice to keep the bar visible.

[2020-08-08 14:47] digimezzo opened #57 "The indexer doesn't take setting IndexCollectionAutomatically into account"
There is no setting IndexCollectionAutomatically. So, currenty, the indexer always performs a indexing check.

[2020-08-08 14:48] digimezzo opened #58 "The indexer doesn't fetch album artwork online"
The indexer only fetches album artwork from files, but not online.

[2020-08-09 08:01] Bearlify opened #59 "Suggestion: Sort by recently played"

[2020-08-09 08:01] Bearlify opened #60 "Suggestion: allow for customization of keybinds"

[2020-08-11 05:25] digimezzo opened #61 "Indexer doesn't watch folders"

[2020-08-11 15:51] minanagehsalalma opened #62 "how it that , that i can't sort by date added just like any other player ?"
just like this
![image](https://user-images.githubusercontent.com/20546638/89919176-3aeb6100-dbfb-11ea-9ddc-35e0802fa418.png)

[2020-08-11 16:25] digimezzo commented on #62
@minanagehsalalma Because on that screen, sorting is done by clicking on the column headers. Add the 'Date added' column and sort by it. You can add colums by right clicking on the songs list and choosing 'Columns...'

[2020-08-11 16:30] minanagehsalalma commented on #62
thanks , sorry for bothering you :)

[2020-08-11 16:37] digimezzo commented on #62
You're welcome! :)

[2020-08-11 19:27] #62 closed

[2020-08-15 09:33] FrozenCoder1 opened #63 "Lack of Bit-Perfect Audio. (Lower Resampling rate)"
Dopamine is a great music player and also the best ever I've listened to...
But I am Disappointed a bit after seeing this...
I hope this must be fixed soon...

![85225987-8e041d00-b3dd-11ea-96e0-eb28f7fd9c0d](https://user-images.githubusercontent.com/66153345/90309709-79896000-df08-11ea-9c3d-25a24dfd1af1.png)

[2020-08-15 09:35] FrozenCoder1 commented on #63
HI, Bro (Raphaël).
Can please add this as a bug...?

[2020-08-15 13:34] digimezzo commented on #63
@FrozenCoder1 I forgot this was in there. Thanks for pointing it out. I've logged this issue in the dopamine-windows repository: https://github.com/digimezzo/dopamine-windows/issues/1187
The "dopamine" repository is for Dopamine 3. That is currently not so clear. I'll try to make it more clear.

[2020-08-15 14:03] digimezzo commented on #63
Th bug is fixed in https://github.com/digimezzo/dopamine-windows/commit/de16848aec224e943a9bee03f434282c65a83f1d

[2020-08-15 14:03] #63 closed

[2020-08-16 09:25] digimezzo opened #64 "Improve playlists"
These are ideas sent by a user. The ideas are based on iTunes. Check out how iTunes handles playlists.

![image](https://user-images.githubusercontent.com/11945339/90331235-33d5a180-dfb3-11ea-8e66-43b3752d87a4.png)

[2020-09-11 05:02] digimezzo opened #65 "Send to Chromecast devices"
Investigate if we can send audio to Chromecast devices (e.g. Google Mini)?

[2020-09-13 15:35] dragonBall561 commented on #22
If you want to build, see readme.md.

1. First Install NodeJS and NPM.
    a. Linux Debian/Debian-Based:

       curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -
       sudo apt install -y nodejs

    b. Windows:
        Get the .exe from [NodeJS Downoads](https://nodejs.org/en/download/current/)

    c. Mac:
        Get the PKG installer from [NodeJS Downloads](https://nodejs.org/e

[2020-09-13 15:48] dragonBall561 commented on #22
For me, Building from Linux Gets me a .AppImage, a .deb, and a .snap.

[2020-09-25 09:40] daedos opened #66 "Feature Request - Go to Artist/Album"
Ability to jump to an artist or album for a particular song.  For example in the song context menu could be a 'Go to Artist' and 'Go to Album' link that then performs a search for that artist/album.  Reckon it should use artist rather than album artist as searching 'Various Artists' is rarely helpful.

[2020-09-28 22:10] its6pri1 opened #67 "Feature Request : Show shuffled "now playing" list"
When playing something with shuffle enabled, it could be a good idea to show the shuffled playlist in "Now Playing" to know which song is going to play next, and maybe also to have a way to sort this shuffled list by yourself (it really is one of the main features I'm searching for in every music player, and it is for me one of the only reasons Dopamine isn't perfect).

[2020-09-29 16:09] dragonBall561 opened #68 "Found vulnerabilities after 'npm install'"
after running npm install I get:

[code]

But Dopamine Runs Fine.

Are the vulnerabilities bad?

[2020-10-06 04:07] gjclemens opened #69 "Dopamine does not let Windows 10 go to sleep"
Dopamine should stop holding the audio device driver when music is paused so that the computer can go to sleep. No other apps running, music paused for hours, computer will still not go to sleep because Dopamine is holding it. This has been an issue for me since 2.0.1, I had previously seen a case tracking the issue on here so I figured it would be addressed, I don't see that case anymore but the

[2020-10-09 23:22] SkilledTheGamer commented on #22
Thanks! I'll definitely try this when I get back home.

On Sun, Sep 13, 2020, 10:48 PM dragonBall561 <notifications@github.com>
wrote:

[2020-10-13 23:17] Wontstart opened #70 "App won't start in windows 10"
I'm not sure if this issue has already been posted, but more often than not the app won't start for me. I'm running Dopamine 2.0.5 on Windows 10 Version 1909 for x64. I'm not sure what else I can say except it seems like the only time I can get the app to start is if I run it as an administrator after a fresh reboot; anytime I try just clicking on a music file nothing happens, and then, even if I

[2020-10-14 12:42] digimezzo commented on #70
@Wontstart Could you attach the log file? You'll find it in folder %appdata%\Dopamine\Log

[2020-10-15 17:43] Wontstart commented on #70
Thank you, here is the file.

[Dopamine.log](https://github.com/digimezzo/dopamine/files/5386765/Dopamine.log)

[2020-10-18 15:21] digimezzo commented on #68
@dragonBall561 There is no reason to be alarmed. NPM checks dependencies of all packages. The vulnerabilities are in components that Dopamine uses, and in sub-components of those components. Trying to fix those, is madness.
Here is an interesting article about this: https://www.voitanos.io/blog/don-t-be-alarmed-by-vulnerabilities-after-running-npm-install/

[2020-10-18 15:23] #41 closed

[2020-10-19 23:14] #68 closed

[2020-10-20 10:04] jamesrobb opened #71 "Dopamine doesn't show information about playing media in "media info" popup in Windows 10"
When I have music playing Dopamine doesn't take control of the "media info" (see attached image) in Windows 10. It used to a few months ago, but has stopped since.

In the first image one can see that the media info displays information from a Youtube video (which isn't playing). If I close Firefox entirely then when I adjust the system volume I just see the Windows 10 volume bar and still no info

[2020-10-24 20:35] Marmeladenfaust opened #72 "Feature Request: Scrollable Playlist-List"
It would be really helpful to being able to scroll the Playlist-List, when adding a song. I have so many Playlists that most of them are not showing.

[2020-10-24 20:40] digimezzo commented on #72
@Marmeladenfaust Oh dear. I wasn't aware that list isn't scrollable. I'll look into it!

[2020-10-25 04:15] ovalseven opened #73 "Playlist is Empty but Dopamine continues to play music after selected (double-clicked) track has ended"
Unelected tracks should not play without prompt

[2020-10-25 04:25] ovalseven opened #74 "Cover Art incorrect for different artists that share same Album Name"
For example, all "Greatest Hits" album covers are the same. Album art properly embedded in files.

[2020-10-25 07:35] digimezzo opened #75 "Columns option on Songs screen is hard to find"
In Dopamine 2, the "Columns..." option on the songs screen is hard to find. Can we improve this for Dopamine 3?

Some ideas:

Option 1: a right click on the column headers could allow column editing
Option 2: a more visible button to edit columns

[2020-10-25 09:33] #10 closed

[2020-10-25 09:35] digimezzo commented on #17
@smarquespt Sorry for the late answer, I missed this issue. Translations will be possible indeed.

[2020-10-25 09:35] #17 closed

[2020-10-25 09:35] #53 closed

[2020-10-25 09:45] #43 closed

[2020-10-25 09:48] #51 closed

[2020-10-25 20:34] digimezzo opened #76 "Audio visualizations"
https://medium.com/@SrvZ/build-a-audio-player-in-electron-e1b133776c6
https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Visualizations_with_Web_Audio_API

[2020-10-27 17:09] Cyberdroid1 commented on #65
Check out Desktop Audio Streamer

Link -- https://github.com/SamDel/ChromeCast-Desktop-Audio-Streamer

[2020-10-28 06:10] Cyberdroid1 commented on #75
Option 1 would be preferable as an extra button could look cluttered.

[2020-10-28 06:13] Cyberdroid1 commented on #54
Playlist info should be shown only when playing the song from a playlist.

[2020-10-29 16:17] VFDan opened #78 "Make a Windows version"
It's annoying to have to build with npm and node, why can't a simple exe just be released? I do love the music player, but having to download and install a whole bunch of other things turns me away from Dopamine 3, I just use version 2.

[2020-10-29 19:28] digimezzo commented on #78
@VFDan Patience. Dopamine 3 will be released for Windows and Linux. There are no builds yet, because the player is in early development. It doesn't display any song and cannot play anything yet. So there is no need to download and build it currently. Dopamine 2 is the only released version.

[2020-10-29 19:59] VFDan commented on #78
Oh okay, I thought it was ready, sorry.

[2020-10-29 19:59] #78 closed

[2020-10-31 11:13] digimezzo opened #79 "Add option to follow system theme (dark/light mode)"
This will probably require an upgrade of electron.

[2020-10-31 17:04] Cyberdroid1 commented on #22
Trying to run the command ` npm run rebuild-sqlite ` fails on my Win10 PC.

![image](https://user-images.githubusercontent.com/51435948/97785147-467e7080-1bc9-11eb-9876-873ebf10630d.png)

Please help me.

[2020-10-31 17:11] Cyberdroid1 commented on #22
Trying to run ` npm start ` gives more error.

![image](https://user-images.githubusercontent.com/51435948/97785301-39ae4c80-1bca-11eb-9f01-4941fa8fa1b0.png)

Is it because I ran ` npm audit fix --force ` ?

[2020-11-01 05:47] FrozenCoder1 opened #80 "Please add Musixmatch Support"
Dopamine is an Amazing Music Player but It will be more awesome and outstanding if can add Musixmatch Lyrics support in it.
Because the NeateseLyric addon you have added won't work in most countries and needs VPN to be worked. So please try to add MusicMatch Lyrics.

[2020-11-01 07:30] digimezzo commented on #22
@Cyberdroid1 Please try without running `npm audit fix --force`
This command is dangerous, because it updates dependencies of dependencies. This usually causes a massive amount of problems.

[2020-11-01 07:42] Cyberdroid1 commented on #22
But, about the command ` npm run rebuild-sqlite ` always fails

[2020-11-01 09:27] digimezzo commented on #22
Have you installed the Windows build tools?

[2020-11-01 09:28] Cyberdroid1 commented on #22
Yes. See the image above I have attached.

[2020-11-01 09:34] Cyberdroid1 commented on #22
I started again from scratch.

![image](https://user-images.githubusercontent.com/51435948/97798323-1d062900-1c4b-11eb-889c-b2931f09deb4.png)

Running ` npm install ` keeps giving vulnerability errors.

[2020-11-01 09:37] Cyberdroid1 commented on #22
After running ` npm audit fix ` , I still get some vulnerability errors. How do I fix that?

[2020-11-01 10:41] digimezzo commented on #22
Please do'nt try to fix these and read this pinned issue: https://github.com/digimezzo/dopamine/issues/68
The pinned issue contains an article that might clear things up: https://www.voitanos.io/blog/don-t-be-alarmed-by-vulnerabilities-after-running-npm-install/

[2020-11-01 11:12] Cyberdroid1 commented on #22
Ok, so I tried again, without fixing anything. It gets rebuild. And it opens on ` npm start `. When the window opens, it is all blank. Nothing in it. The Inspect menu on the right says something that sharp module is causing problem/not found. How do I fix that?

[2020-11-01 11:24] digimezzo commented on #22
Which version of sharp is listed when you perform this command?

`npm list sharp`

[2020-11-01 11:37] Cyberdroid1 commented on #22
0.25.4

![image](https://user-images.githubusercontent.com/51435948/97801717-a70ebb80-1c64-11eb-8ac4-cb274aa47a03.png)

[2020-11-01 15:07] digimezzo commented on #22
It seems that the rebuild-sqlite command also rebuilt sharp. This broke the sharp module. I don't know why it breaks it though. Using native modules in Electron is quite complicated. However, it was never my intent to rebuild sharp with the rebuild-sqlite command, so I've now updated that command in package.json, so that it only builds better-sqlite3. You should be able to fix your sharp issue by

[2020-11-01 16:08] Cyberdroid1 commented on #22
Why does the command ` npm run rebuild-sqlite ` looks for a specific file location? It should run in its present repository, right? I keep getting error for invalid file location. Though I can change the command for the same, but still, can this not be fixed?

![image](https://user-images.githubusercontent.com/51435948/97808067-822d3f00-1c8a-11eb-8c15-c2d9279b5da5.png)

[2020-11-01 16:14] Cyberdroid1 commented on #22
Thanks, the app builds correctly now. The other problem that I face is this --

![image](https://user-images.githubusercontent.com/51435948/97808173-64140e80-1c8b-11eb-9e72-740e1369494c.png)

The library stays blank. The Manage collections button does not do anything. Please help me with this.

[2020-11-01 16:50] digimezzo commented on #22
I don't yet know why the rebuild sqlite command it failing. I'll look into it. As for the collection remaining empty, and some screens not working: that is normal 🙂. Dopamine 3 is in early development and does nothing yet. Well, the settings screens are operational, and audio files are indeed and album art is downloaded from the internet. But the player does not display the collection yet, and can

[2020-11-02 04:14] FrozenCoder1 commented on #80
Hey Bro.
I just read your last comment on the other Forum.
Can you please tell me how much Musixmatch costs?
And If you cant add that then please just add MusixMatch API support we can add our personal API keys.

[2020-11-03 05:19] digimezzo commented on #79
This feature was added in bf258d2f3cf0c00ec678675f0b321e1a196f563e

[2020-11-03 05:19] #79 closed

[2020-11-03 06:07] digimezzo opened #81 "Option to hide screens"
Not all users want to see all screens. Add an option to remove tabs.

[2020-11-03 18:34] dragonBall561 opened #82 "Stuck on npm start, windows doesn't open"
This is what happens:
1. I run `npm start`
1. It Gives this output:
[code]
3. It gets stuck. There is no window opening at all.

What is going on and how do you fix it?

Stuff to know:

OS: Linux Mint 20
DE: Gnome 3 (yes I installed it myself)
Node Version: v14.15.0
NPM Version: v6.14.8

[2020-11-06 10:28] Cyberdroid1 commented on #82
Did you fix any vulnerability while building? If you did, try again from scratch.

[2020-11-17 18:47] dragonBall561 commented on #82
never ran npm audit. so i didnt fix anything

[2020-12-12 21:21] #57 closed

[2020-12-12 21:21] digimezzo commented on #15
This was added and will be available in Dopamine 3.0.

[2020-12-12 21:21] #15 closed

[2020-12-12 21:32] #50 closed

[2020-12-14 06:01] digimezzo commented on #82
@dragonBall561 I found the issue. It was casued by a native package called "sharp", that I used for image processing. Unfortunately, it works on some systems, but doesn't on others. So I decided to stop using it. The latest code should now start find on your system.

[2020-12-14 10:04] x3BLIND8x opened #85 "Lyric scroll doesn't reset after changing the music"
if you scroll the lyrics and go to next song, lyrics doesn't reset and it remembers the last lyrics position
![Untitled](https://user-images.githubusercontent.com/75929509/102067955-0db0f880-3e11-11eb-955a-fa7316d20919.png)

[2020-12-14 16:04] dragonBall561 commented on #82
Thank you!

[2020-12-14 16:04] #82 closed

[2020-12-17 10:15] anoncode opened #86 "Interface: back button behavior"
Clicking on a song's "Now Playing" and then clicking the back button navigates to the tab's setting (Genres/Albums) instead of the previous view (ex. Genres -> Album -> Song from the album)

[2020-12-17 10:27] anoncode opened #87 "Jump to Playing Song / Now Playing"
Using the Jump to Playing Song shortcut (Ctrl+J) doesn't appear to do anything, is it intended to Jump to the Now Playing song (clicking on the album art / "Now  Playing")?

If not, request to add "Now Playing" and shortcut option to the context drop down.

[2020-12-17 10:37] anoncode opened #88 "More Jump options (enhancement)"
Context menu options on album/song/now playing to Jump to artist
Context menu options on now playing to Jump to album

[2020-12-17 10:44] #86 closed

[2020-12-17 10:46] #87 closed

[2020-12-17 10:46] #88 closed

[2020-12-30 03:38] Magentaize opened #89 "Maybe it's better to use Observable instead of Promise?"
For Angular, rxjs is its core dependency, so using Observable looks like more natural and modern, and can obtain the power of stream api through rxjs.

[2020-12-30 10:05] digimezzo commented on #89
@Magentaize It depends in which context. Promises are a handy tool when calling async functions. I like using promises in async/await operations, to keep the code-flow linear. The syntax is very comparable to C# in that case.
I use observables when raising events. The code-base of Dopamine does not have observables yet, but they are coming, when the services get more functionality. Examples of the

[2020-12-30 10:25] Magentaize commented on #89
I see,  just noticed that observables are converted to promises in dialog.service.ts, so...I'm a little curious about the reason why.  But since the linear control flow is your habit, it's ok. For me, I'm a fan of functional programming :)

[2020-12-30 13:13] digimezzo commented on #89
Indeed, I convert observables to promises to avoid function chaining, nesting and subscriptions which I must remember to unsubscribe. I prefer linear control flow :) The conversion to promises is just about the linearity. I find that it also makes unit testing easier (but that might be related to my lack of experience with functional programming). One exception is when I need to raise events. Then

[2020-12-30 13:33] digimezzo commented on #89
I'm further reading on this, and I stumbled upon this article: https://indepth.dev/posts/1287/rxjs-heads-up-topromise-is-being-deprecated: toPromise() will be deprecated starting from  RxJs 7. I'll have be be careful with such conversions.

[2021-01-01 10:18] Magentaize commented on #89
Yep, for testing observables, some reactive unit test libraries are needed. In fact, observable is contagious, just like that await in turning from sync api to async api. Using observable means maybe there's no "await" function calls and almost all functions accept an observable argument and return an observable.

[2021-01-06 13:16] Doumor opened #90 "Add Russian to the application"
Hi! I haven't worked with TypeScript and Electron, but I can help with translating the application into Russian. Just tell me where to put the translation and I'll do it. And I'll make a Pull Request. I'm able to build Dopamine 3 by myself and check the translation.

[2021-01-06 13:45] Doumor commented on #90
I found where translations folder are.
dopamine/src/assets/i18n/

[2021-01-06 13:45] #90 closed

[2021-01-22 19:52] Sekkei opened #92 "pls delete"
pls delete

[2021-01-22 20:39] #92 closed

[2021-02-10 13:36] Kronephon commented on #65
Would be quite the nice feature.

[2021-02-22 05:36] YexuanXiao opened #93 "Feature request: Make folder-based management more useful"
I use folders to manage thousands of music, which are carefully classified and multi-layered.
At present Dopamine is not very friendly to my management style, and I have two suggestions.
1. Dopamine does not support traversing files under folders and then adding them to now playing.
2. When I leave the folder interface and return (for example: settings or "now play"), the folder list jumps back to

[2021-02-23 06:21] #89 closed

[2021-02-24 05:53] digimezzo opened #94 "Expand metadata"
**This is a feature request from a user:**

I would love composer, conductor (They are really useful for classical music) and bpm (I use it for organization.
![screenshot from 2018-09-25 07-16-44](https://user-images.githubusercontent.com/11945339/45994240-ff8d2b00-c092-11e8-91fe-6047f85a196b.png)

[2021-03-02 14:34] picard2 opened #95 "Feature Request: TAK Support"
Requesting support for TAK (Tom's lossless Audio Kompressor) audio files.

[2021-03-08 12:58] Bearlify opened #96 "Suggestion: sort albums by most recently played"
My library consists of some 1700+ albums. Obviously, most of the time I am only listening to a small portion of those. It would be nice to be able to order them based on most recently played, to keep the most 'relevant' music at the top!

[2021-03-13 16:28] Alexander12444 opened #97 "Feature Request: Save Ratings in .ogg files"
When transfering my music collection to a new drive/new computer and having to rebuild the collection, it would be nice to have the ratings saved somehow from the old collection on files other than mp3

[2021-03-14 16:15] Saijin-Naib opened #98 "Feature Request: User-Defined Search/Filter Criteria"
## I'm submitting a...
<pre><code>
[ ] Regression
[ ] Bug report
[x ] Feature request
</code></pre>
A feature from Tuniac that I really enjoy is the concept of user-defined Search/Filter criteria, which can allow for either a more flexible search, or alternatively, a more focused search.

There is a configuration dialogue that allows you to choose which metadata or other attributes are included:
!

[2021-03-14 16:16] digimezzo opened #99 "Select multiple tracks to add to playlists"
It should be possible to select multiple tracks at once in order to add them to a playlist.

[2021-03-14 16:18] digimezzo opened #100 "Remove duplicates from playlists"
When creating large playlists, users sometimes add a same song multiple times. A "Remove duplicates" option would help.

[2021-03-14 16:19] digimezzo opened #101 "Smarter search"
When searching sometimes an artist and a song have a similar name, if there would be an advanced search, maybe seperate artist name, song name and album search boxes.

[2021-03-14 16:20] digimezzo opened #102 "Make sure that the love status is remembered"
Songs dont remember "love" status. eg. in smart love playlist they have the status, but in a second playlist they dont.

[2021-03-14 16:21] digimezzo opened #103 "Add Rainmeter support"
See title

[2021-03-14 16:21] digimezzo opened #104 "Add CDArt support"
See title

[2021-03-14 20:55] digimezzo opened #105 "Smart playlist of recently used albums"
Dopamine feature request - RECENTLY ADDED SONGS/ALBUMS
Your music player is really fabulous and I love it. The only thing I find "missing" is a smart playlist of recently added albums. This is something iTunes did rather well. Right now, if I try to create this smart playlist in Dopamine, I end up with a list of hundreds of songs, but no longer grouped by albums. I get a ton of new records to revi

[2021-03-17 05:41] digimezzo opened #106 "Add "Sort by recently played""
Add a "Sort by recently played" for albums. Check if this could also be useful for Artists and genres.

[2021-03-17 19:50] digimezzo opened #107 "Editable light and dark theme to allow OS integration"
In order to better blend into Linux distributions, the light and dark themes should be editabe. So the colors can be matched to the OS's theme.

[2021-04-10 17:37] Darthagnon opened #108 "[Feature Request] iTunes 10/11/Musicbee-style dropdown album view"
## I'm submitting a...

<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
</code></pre>

Thank you so much for making this amazing music player! I've struggled for years with MusicBee, and it's a breath of fresh air to use a music player that just works!

I was wondering, though, would it please be possible to implement dropdown albums in the album view, similar to how [iTunes 10/11](h

[2021-04-20 15:33] g-yui opened #110 "Feature Request: Youtube-DL integration"
## I'm submitting a ...
[ ] Regression
[ ] Bug report
[x] Feature request

I love the integration with Youtube-DL that MPV has and I would love to see it on Dopamine, it would be awesome to play music from YouTube or SoundCloud natively, maybe even playlist support.

[2021-04-30 11:53] Endermanch opened #111 "Typing a song name in the list to select it (Enhancement)"
VLC has this feature, I wish dopamine had it as well. Using the mouse wheel is too difficult in large song playlists.

[2021-04-30 16:58] ZealTaku opened #112 "Cross-fading functionality"
This is just a small suggestion, I believe cross-fading/gapless playback functionality would be a very nice addition. Much like the android music player Pulsar has. Pulsar in particular allows a cross-fade range to be configured between 500ms to 15000ms. Would be nice to use when listening to a certain album that have a consistent theme. Allowing all the tracks to seamlessly transition from one so

[2021-05-06 05:41] CaidenBlock commented on #110
I like this idea, but wonder if it might be better suited to some sort of third-party 'plugin' system.

Allowing other developers to create their own plugins for certain services might be better to prevent feature-bloat and from a legal perspective.
I think #80 and some others might benefit from such a system.

[2021-05-06 12:41] g-yui commented on #110
Lua and Python are pretty popular for this purpose, maybe something similar to MPV's or Exaile's plugin system? 😄

[2021-05-06 20:43] digimezzo commented on #80
@FrozenCoder1 Sorry for the late reply. I lost track of this issue. Your idea (adding personal API keys) sound great. I'll have a look at it.

[2021-05-06 20:44] digimezzo commented on #110
I like this idea :) I'll look at adding this for Dopamine 3

[2021-05-08 05:37] digimezzo opened #113 "Update notification should be non-intrusive"
The update notification should not require a click from the user in order to use the application without updating.
There is nothing more annoying than starting up an application and having to click away a popup or notification.

[2021-06-02 09:45] digimezzo opened #115 "Increase the mouse scroll area for volume control"
Hello, I recently downloaded Dopamine and it's really great thank you. I would have a little suggestion though. It would be great to be able to change the volume with the scroll wheel when having the cursor on this space. A bit annoyin to go everytime on the exact volume location

![image](https://user-images.githubusercontent.com/11945339/120458986-0ddd8a00-c398-11eb-9d71-21142ed33102.png)

[2021-06-02 09:47] digimezzo opened #116 "After long pause, player is not able to start again."
Reported by a user:

I am facing an issue for some weeks i didn't have before. When I pause a song for a long time, the music player is not able to start where it stopped, it starts again the album from the beginning

[2021-06-02 09:59] digimezzo opened #117 "Auto shuffle after queue ends"
Feature request from a user:

I have a suggestion you might consider, adding an option of auto shuffle, that means when a song ends and there's no queue the player will create a random shuffle of the song library.

[2021-06-18 01:52] ghost opened #118 "Enhancement idea - Short lived notification option"
I would love to have the option to toggle a small, short lived, rectangular notification that will display and then quickly fade when a song ends and another one starts, it would display the song's name, the artist´s name and the album's cover (if available), something like [the windows music notification](https://filestore.community.support.microsoft.com/api/images/5fec8282-961b-4365-b3bc-bb15afa

[2021-06-19 04:13] digimezzo commented on #118
@g-yui Something like on this page, under "Notifications (without or with controls)"? https://www.digimezzo.com/software/dopamine/

Dopamine 2 has this. I'm planning something similar for Dopamine 3.

[2021-06-28 21:20] digimezzo opened #119 "Enqueue of Artists and Genres"

[2021-06-28 21:20] digimezzo opened #120 "Add support for more file formats"

[2021-06-28 21:21] digimezzo opened #121 "Fix all unit tests"

[2021-06-28 21:22] digimezzo opened #122 "Pressing play when there is no queue should play the first track of the active list"

[2021-06-28 21:22] digimezzo opened #123 "Double click of track in queue should play it"

[2021-06-29 15:16] TragicLifeHu commented on #22
It's not possible to build version 3 following the instruction above on Windows now. (And on my openSUSE Leap 15.2 I didn't success, too)

Microsoft had shut down everything about Visual Studio 2015, including Microsoft Build Tools 2015. Installing windows-build-tools vs2015 will result in vs2017 to be installed.
More info here: https://github.com/felixrieseberg/windows-build-tools/issues/249

As

[2021-06-29 21:22] digimezzo commented on #22
@TragicLifeHu I'll update the build instructions this week.

[2021-06-30 06:00] #123 closed

[2021-06-30 06:00] #119 closed

[2021-06-30 06:01] digimezzo opened #124 "Add a changelog file in project"

[2021-06-30 15:33] Cyberdroid1 opened #125 "System Color is broken"
Enabling "Follow system color" changes the accent color to just black instead of the Windows accent color (blue).

![image](https://user-images.githubusercontent.com/51435948/123989570-a7737800-d9e6-11eb-9c3c-f6e6050ed96d.png)

[2021-06-30 15:36] Cyberdroid1 commented on #24
Currently, cons dont look crisp and sharp, and instead have a soft and blurry look.

![image](https://user-images.githubusercontent.com/51435948/123989799-dc7fca80-d9e6-11eb-8331-2d2a9c93766c.png)

[2021-06-30 16:01] Cyberdroid1 opened #126 "The sidebars do not have a minimum limit for the width"
The sidebars can be freely resized without any minimum width limit.

![image](https://user-images.githubusercontent.com/51435948/123990194-2f598200-d9e7-11eb-9109-9982d477afaf.png)

![image](https://user-images.githubusercontent.com/51435948/123990256-3a141700-d9e7-11eb-8add-a2761c86aaac.png)

![image](https://user-images.githubusercontent.com/51435948/123990320-49936000-d9e7-11eb-8079-e6409d612c0

[2021-06-30 17:01] Cyberdroid1 opened #127 "The window buttons of the app window appear dim in dark mode"
![image](https://user-images.githubusercontent.com/51435948/124000490-40a78c00-d9f1-11eb-8fb3-223bb340b037.png)

[2021-06-30 23:56] vivadavid opened #128 "Start menu link for Dopamine 3 replaces the link for Dopamine 2"
Hi, Raphaël!

As you said in your blog post, you can certainly have Dopamine 2 and 3 installed separately in the same computer. However, the start menu link for Dopamine 2 gets replaced by the link for Dopamine 3, as they have the same name, so as a result, you can only open Dopamine 3 from the start menu. I've fixed it manually, but to avoid this problem in future releases, you could maybe rename

[2021-07-01 01:13] g-yui opened #129 "High CPU usage when main window is not minimized"
Description: As stated in the title, while browsing songs or just staying on the main window of the app there is an extremely high cpu usage (40 to 50%), when minimized it gets down to between 3% and 6% usage, sometimes it goes as low as <1% usage when minimized (while playing a song) which is outstanding and makes the 50% cpu utilization even weirder.
For reference, Dopamine 2 has a 6% utilizatio

[2021-07-01 01:18] g-yui commented on #128
I have Dopamine on my tray so I didn't notice this when I installed the preview, nice catch!
Needless to say, I have the same issue ;)

[2021-07-01 02:31] g-yui commented on #129
Edit: After further testing it averages out at 35% now for some reason.

[2021-07-01 05:32] digimezzo commented on #129
@g-yui Thanks a lot for reporting this. I'll check this out.

[2021-07-01 05:32] digimezzo commented on #128
Hi! Thanks for reporting this. I didn't catch that one. I'll fix it for the next preview.

[2021-07-01 06:47] digimezzo commented on #125
@Cyberdroid1 Which version of Windows are you using?

[2021-07-01 06:50] Cyberdroid1 commented on #125
Windows 10 21H1 19043.1052

[2021-07-01 07:03] digimezzo commented on #129
@g-yui Over here it is maxing out at 10% CPU when the main window is visible, with 1500 songs in the Music folder. Could you tell me a bit more about your computer: OS, CPU, RAM, graphics card?

[2021-07-01 07:22] g-yui commented on #129
You should probably disregard what I said previously on the grounds of me forgetting that I have Windows 11 currently installed, whoops.

[2021-07-01 07:53] Bearlify commented on #129
In my case (1800ish albums and almost 30k songs), it is more like 25% of a 9700K. In general I noticed Dopamine 3 is quite sluggish atm, as if it is reloading my entire folder over and over; Dopamine 2 didn't have any issues whatsoever

[2021-07-01 08:55] digimezzo commented on #129
@g-yui and @Bearlify , could you attach or send the logfile? It is the file "log.log" (I still need to fix that name) in the folder %appdata%\Dopamine. Thanks!

[2021-07-01 09:04] g-yui commented on #129
Here it is, I took the liberty to replace my username ;)
I just played one song and then closed Dopamine.

[2021-07-01 04:57:57.386] [info] [AppComponent] [ngOnInit] +++ Started Dopamine 3.0.0-preview.1 +++
[2021-07-01 04:57:57.401] [info] [AppearanceService] [applyTheme] Applied theme 'default-theme-dark'
[2021-07-01 04:57:57.471] [info] [DatabaseMigrator] [migrateAsync] Database is too old. Appl

[2021-07-01 09:10] digimezzo opened #130 "Log file needs better name"

[2021-07-01 11:52] Bearlify commented on #129
[log.log](https://github.com/digimezzo/dopamine/files/6747848/log.log)

[2021-07-01 12:36] digimezzo commented on #129
@Bearlify Thank you for the logs. I suspect that Dopamine is looping over your files to check if the collection needs indexing. Could you disable this setting and restart Dopamine, to see if CPU usage is better?

![image](https://user-images.githubusercontent.com/11945339/124125244-ac353c00-da79-11eb-8267-2948632ba2dd.png)

If CPU usage is better, I'll know what to improve. Thanks!

[2021-07-01 12:42] digimezzo opened #131 "Update checker reports strange latest version"
Current=3.0.0-preview.1, Latest=3.0.0-preiew.1

[2021-07-01 12:43] digimezzo opened #132 "Database migrator is confused"
[2021-07-01 11:41:48.451] [info] [DatabaseMigrator] [migrateAsync] Database is too old. Applying migrations.
[2021-07-01 11:41:48.453] [info] [DatabaseMigrator] [getMigrationsAsync] Found migrations: 001-initial
[2021-07-01 11:41:48.453] [info] [DatabaseMigrator] [migrateAsync] Applying migration 001-initial
[2021-07-01 11:41:48.454] [error] [DatabaseMigrator] [migrateAsync] Could not perform migr

[2021-07-01 13:10] Bearlify commented on #129
The sluggishness improved by a bit (25% or so more responsive). High cpu% remains, although initally I thought it was fixed

[2021-07-01 14:09] digimezzo commented on #124
Fixed in 23fb9e6ca62afd8519e2b2fe6aebc07bb32520f6

[2021-07-01 14:09] #124 closed

[2021-07-01 14:10] digimezzo commented on #131
Fixed in 23fb9e6ca62afd8519e2b2fe6aebc07bb32520f6

[2021-07-01 14:10] #131 closed

[2021-07-01 19:25] g-yui commented on #129
I don't know if you received my log file via mail so here it is:
[log.log](https://github.com/digimezzo/dopamine/files/6750350/log.log)
I never had the sluggishness, so disabling automatic refreshing didn't do much for me.

[2021-07-02 07:58] digimezzo opened #133 "Simplify translation files"
Currently, they are too complicated for translators.

Improvements:

- Do not use subcategories
- Ad new translations at the end of the files

[2021-07-02 21:11] Bearlify commented on #129
Did some testing, seems like it is related to mouse movement in the dopamine window. When its in focus but without mouse movement it will drop to 0ish% but I can get it up to 30%ish% when rapidly moving my cursor in the dopamine window

[2021-07-02 23:10] TurtleP opened #134 "Shuffle Broken"
Hi,

It seems that when I have shuffle enabled and start playing an album, it will only play at most the first two songs. Either that or it's just stopping at some point for no reason, as I haven't gone through the entire shuffled album yet. Regardless, when shuffle is disabled, songs play through the list as expected. I don't think this is too big of an issue, though I figured it would be worthwh

[2021-07-03 00:20] g-yui commented on #129
Curiously, mouse movement only has an impact on CPU usage when maximized, if dopamine is windowed it stays at 30-ish percent no matter what.
That being said I can confirm that, when maximized, mouse movement makes the CPU usage go up, while without it it stays between 0 and 1%

[2021-07-03 10:26] neubland opened #135 "The beautiful "Now Playing" screen from Dopamine 2 is gone"
One of the prettiest things about Dopamine 2 was the great Screen where it showed what is currently playing with the cover nice and big and the background was the cover too. This seems to be gone in Dopamine 3. Maybe this is intentional, maybe it is a bug that makes me unable to click it, just wanted to say it was a great feature and it would be great if that feature would be in Dopamine 3 too.

[2021-07-03 11:55] digimezzo commented on #135
@neubland It's coming back. This is just a preview, with a lot of missing features. All features of Dopamine2 will be in Dopamine 3.

[2021-07-03 11:57] digimezzo commented on #134
@TurtleP THank you for reporting this. I'll have a look at it. Thanks for loving Dopamine!

[2021-07-03 12:06] neubland opened #136 "Same Genre appears multiple times"
Genres of which there are multiple albums of appear multiple times. For example there are 5 entries "Alternative" for 26 alternative Albums. Some of these albums use a Genre ID-Tag that uses ; as separator (Autechre is "Alternative; Electro" for example). If it would be helpful I can share the affected files.

![image](https://user-images.githubusercontent.com/34939446/124353533-5abab780-dc07-11eb

[2021-07-03 12:08] neubland commented on #136
Maybe this is related: The camelcase-Genres "AlternativeElectro" etc. appear in the list but are empty. I assume they are a consequence of handling the ;-separated genres. I am pretty sure there are no actual "AlternativeElectro" genres in my library, just "Alternative; Electro" (which means that these files have 2 Genres)

[2021-07-04 14:59] MicRaving opened #137 "Long loading times for songs"
The new preview introduces long song loading times for me that didn't exist in the self-compiled version two weeks ago nor Dopamine 2. Now the average song takes around 10 seconds to load. I listen to FLACs that are stored on a network share which is connected via SMB - maybe this is part of the problem.

[2021-07-05 05:26] digimezzo commented on #129
Checklist of known cases that cause high CPU usage:

- [ ] Reporting playback progress
- [ ] Indexing of album covers in the background after every start op Dopamine
- [ ] A bug in chromium that causes high CPU usage on mouse move: https://bugs.chromium.org/p/chromium/issues/detail?id=1188505

[2021-07-05 05:49] digimezzo commented on #137
@MicRaving There was no FLAC support 2 weeks ago, only MP3. Coudl it be that you loaded MP3's from your network share. MP3's are much smaller than FLACs, that could explain the shorter loading speed.

[2021-07-05 07:44] MicRaving commented on #137
Sorry, probably my mistake, then. I thought that it was already implemented two weeks ago but maybe I'm mixing up something with Dopamine 2. Tested the loading times again and they are <1s in Dopamine 2 compared to 8-10s in Dopamine 3. The loading times seem unrelated to the length of the song.

[2021-07-05 08:07] digimezzo commented on #137
@MicRaving Thanks for the info. I'll test out loading times on network shares and see what is going on.

[2021-07-05 08:20] digimezzo opened #138 "Add (optional) buttons to go back and forward 10 seconds"
Most video players have buttons to go back an forward 10 seconds in a video (see also Netflix). It would be nice if Dopamine had that? Could you implement this, dear fantastic developer?

[2021-07-05 13:10] MicRaving commented on #137
Thank you! Just a small update: The newest source code changes after the preview 1 release reduced the loading times to 2-3s.

[2021-07-06 02:07] g-yui opened #139 "[Suggestion] Automatic builds with GitHub actions."
I would like to suggest that you add a workflow through the Actions tab so new releases of Dopamine can automatically be built and published, that would make testing the software a lot easier for those that are interested in doing so but don't know/want to build from source themselves.

[2021-07-07 06:39] digimezzo commented on #139
@g-yui Thanks for bringing this to my attention. I haven't looked at GitHub actions, but I will definitely do this.

[2021-07-09 04:27] digimezzo commented on #136
@neubland I think I found the issue. Could you attach your Dopamine.db to this issue so I can compare without your situation? Thank you.

[2021-07-09 10:05] neubland commented on #136
@digimezzo I'm not sure how to best attach that kind of file as it is not directly supported by github, so I put it on wetransfer: https://we.tl/t-vej2zDoqu7 The link is valid for one week. If I should use another channel to transfer the file I can do so.

[2021-07-10 04:48] digimezzo commented on #133
This task has been completed over multiple commits.

[2021-07-10 04:48] #133 closed

[2021-07-10 05:18] digimezzo opened #140 "Log file must be accessible from UI"

[2021-07-10 05:19] #130 closed

[2021-07-10 19:22] digimezzo commented on #136
@neubland Thanks a lot for your database. I was able to fix the bug. You'll have the fix soon, in Preview 2.

[2021-07-10 19:25] #136 closed

[2021-07-11 14:19] neubland opened #141 "In artist view, if the selected artist is only the album artist und not the "artist", the album isn't shown in the grid."
This is easiest to notice with Various-Artist-Albums, but is true with collaboration albums too. Notice that on the right the various "Various Artist" albums are listed, but in the middle there is no album shown. This seems to be the case for every album where individual song artist and album artist differ.

![image](https://user-images.githubusercontent.com/34939446/125198763-8838de00-e263-11eb-8

[2021-07-11 20:47] digimezzo commented on #141
@neubland Thank you for reporting this bug. It is fixed in commit e8a320ef70aaf4b980a9c55f94223332c899c58c and will be in Preview 2.

[2021-07-11 20:47] #141 closed

[2021-07-12 06:11] digimezzo opened #142 "Translations must be loadable from user directory"
Similar to Dopamine 2, it should be possible to load translations from a user directory on disk. As such, users can create their own translations and test them out.

[2021-07-12 12:31] MicRaving commented on #137
The newest changes fixed the loading time problem completely. Not sure if that was the intention, but thank you very much for this as well as for this great piece of software!

[2021-07-12 12:31] #137 closed

[2021-07-12 14:32] #128 closed

[2021-07-13 20:36] areas0 opened #143 "Misplaced UI bar on startup"
![image](https://user-images.githubusercontent.com/59089509/125520807-05bd804e-5818-4837-a13b-32e149ac6b1c.png)
The blue bar above album isn't at the right place when starting Dopamine. (Alignment issue). Toggling makes it appear at the right place however.
Expected:
![image](https://user-images.githubusercontent.com/59089509/125520879-feafb7c0-2f92-4032-9f86-a5701439e0f0.png)
This bug seems to ha

[2021-07-14 20:07] digimezzo commented on #22
@TragicLifeHu With some delay, I've updated the build instructions. I tested the instructions on 2 clean Windows 10 PC's. The trick is to install Node.js including the Tools for Native Modules.

[2021-07-17 06:22] #135 closed

[2021-07-17 21:36] g-yui opened #144 "[Bug] Pausing or Playing with multimedia keys don't update the corresponding icon"
Pretty much what the title says, whenever I pause or start playing with the multimedia keys the corresponding icon won't update within the UI, as in, if I paused via multimedia key, it will still show the pause icon and if I start to play (after pausing from the UI) it will show the play icon.

Tested on Dopamine 3.0 Preview 2.

[2021-07-17 21:41] g-yui commented on #143
Bug persists in Dopamine Preview 2.

OS: Windows 11 21H2
Screen resolution: 1360x720

[2021-07-17 23:39] MulverineX opened #145 "[Suggestion] Add click interaction to album art to open Now Playing"
N/A

[2021-07-17 23:40] MulverineX commented on #110
Hopefully *not* Lua/Python for this, ideally JS. Would be easier for you to do as well because this is a Node environment.

[2021-07-17 23:43] MulverineX opened #146 "[Parity] Glossy blurred album art background on Now Playing"
N/A

[2021-07-17 23:45] MulverineX opened #147 "[Parity] Standalone Songs tab"
N/A

[2021-07-17 23:47] TurtleP opened #148 "Incorrect number of artists displayed"
Hey,

Not sure if it's a bug or intended.. behavior(?), but while working on my own program earlier that deals with audio metadata, my own Artist count was wrong (for showing stats). Anyways, it seems Dopamine is showing by the `ARTIST` metatag instead of `ALBUMARTIST`. Specifically, Dopamine shows `98` artists and Groove Music shows `91`. I only found out because of this:

**Dopamine 3**
![image]

[2021-07-18 01:10] g-yui commented on #144
[ Please dismiss the previous typos ;) ]

[2021-07-18 07:25] digimezzo commented on #147
@MulverineX I know. It's all coming back. Patience...

[2021-07-18 07:29] digimezzo commented on #148
@TurtleP Could you click on the artists counter at the top of the artists list. It's a button to toggle between album artists, song artists and all artists.

![image](https://user-images.githubusercontent.com/11945339/126059364-4ce8661c-1ef5-4a64-9ac3-12cbb325309d.png)

Could you check if the artists count is then ok? Thanks.

[2021-07-18 07:30] digimezzo commented on #145
@MulverineX  Could you explain a bit more how this is supposed to work? Thanks.

[2021-07-18 07:42] digimezzo commented on #143
Note to self. Check out this link: https://stackoverflow.com/questions/59017741/mat-ink-bar-location-not-update-when-container-resizes

[2021-07-18 08:10] #143 closed

[2021-07-18 08:25] MulverineX commented on #145
When you're not on the Fullscreen now Playing screen, clicking the album art of the current song should open said screen.

[2021-07-18 08:26] MulverineX commented on #147
Oh apologies, you already have the sidebar songs widget so I thought it was a decision or oversight, my bad

[2021-07-18 08:26] #147 closed

[2021-07-18 09:30] digimezzo commented on #145
@MulverineX Do you mean here?

![image](https://user-images.githubusercontent.com/11945339/126062338-45a3f13f-db1f-4634-8481-7b14b9c5ec2f.png)

[2021-07-18 16:17] MulverineX commented on #145
@digimezzo Yes

[2021-07-19 01:27] TurtleP commented on #148
Yeah, showing Album Artists is displays the correct number. I find it odd, though, since as far as I'm aware, the default should probably be Album Artists. Though that's just me. Anyways, thanks for letting me know.

[2021-07-19 01:27] #148 closed

[2021-07-19 04:57] #145 closed

[2021-07-19 06:53] digimezzo commented on #144
Space bar support was added in commits ee21e8bfd996cdef7a55e173b827ffd179635a32 and 97bbf12d34909d3655741695f3b08434eeeb9092

[2021-07-19 22:11] MulverineX commented on #110
Can you clarify if you're going with the plugin API idea or not? @digimezzo

[2021-07-22 18:36] digimezzo commented on #146
Added in 6b11001139d8f2ee0ca1295e6f0598deb7295465

[2021-07-22 18:36] #146 closed

[2021-07-28 06:34] MulverineX opened #150 "[Suggestion] Create & post a community discord server"
To discuss active development & progression of dopamine (and other digimezzo projects?), express praise, and talk about related things.

[2021-07-29 11:40] neubland opened #151 "[Suggestion] use Crowdin for translations"
Like many other people I like to contribute to projects by translating. Crowdin (crowdin.com) is a tool for that and is free to use for open source projects. Even big projects like lichess.org use it.

The upsides of Crowdin are (1) ease of use for the translators, (2) possibility for translators to vote on translations, collaborate, talk about how things should be translated etc., (3) therefore b

[2021-07-29 18:57] g-yui commented on #150
I approve the simping of Digimezzo! 😄

[2021-07-29 19:01] MulverineX commented on #150
If #110 results in a modding API the server can also be used for community content support, showcase, & discussion.

[2021-08-02 06:53] digimezzo opened #152 "No albums and tracks found for 'Unknown artist' and 'Unknown genre'"
This is a possible bug, not reproduced yet. Getting albums and tracks for the Artists and Genre lists is done by using the Artist and Genre's displayName. For "Unknown artist" and "Unknown genre" nothing will be found in the database.

[2021-08-05 10:48] digimezzo opened #153 "Add to list of Electron apps"
Add Dopamine to the list of Electron apps: https://www.electronjs.org/apps

[2021-08-09 19:35] digimezzo opened #154 "Intermediate refresh of lists while indexing"
While indexing, lists should be refreshed each time a percentage of songs have been indexed.

[2021-08-10 14:49] captnalexx opened #155 "An error has occurred which will cause the application to close."
I get the following error when trying to start Dopamine 3:
"An error has occurred which will cause the application to close. Please verify the log if you need more information."

OS is Windows, used the Dopamine.Setup.3.0.0-preview.3.exe to install.

Attached below is the log file.

[Dopamine.log](https://github.com/digimezzo/dopamine/files/6962590/Dopamine.log)

[2021-08-16 05:32] #121 closed

[2021-08-16 05:33] #120 closed

[2021-08-16 05:33] #113 closed

[2021-08-17 16:36] g-yui opened #156 "Sufficiently long title names get displayed through the whole UI"
Yup, they do, never noticed it before since most songs have short titles, but one in my library didn't, long live unnecessarily long Japanese song titles!!!
Matter of fact, I took a random song from my library and renamed it just to see what it would do and here you go!

![img](https://user-images.githubusercontent.com/79342645/129765499-c6a2c3fb-31f0-4a70-8853-e65f4f4a5deb.png)

This is the expec

[2021-08-17 16:42] g-yui commented on #156
This was the song that tipped me off btw lol
![img](https://user-images.githubusercontent.com/79342645/129766462-cfea6901-bcb8-47f2-ba04-faabe76d9798.png)

[2021-08-19 20:23] g-yui opened #157 "MacOS build of Dopamine is borked due to better-sqlite"
Frankly I know nothing of MacOS, I just ran the install script on it and it got borked due to a fail "at the better-sqlite3@7.1.1 build-release script."
This was built using "macos-latest", here's the whole build and the resulting dump if you want to check it out: [MacOS build status](https://github.com/g-yui/dopamine/runs/3375677706?check_suite_focus=true).

Good thing is, I managed to get the ot

[2021-08-20 11:28] digimezzo opened #158 "Verify CPU usage after playing mutliple songs"
Reported by @g-yui:

I think something's leaking, since CPU usage increases per each song played, got from 0.34% CPU usage to almost 4% through my testing. To recreate you can just boot up Dopamine and just start clicking on the next song for a bit, memory doesn't seem to leak thus far though, always returning to 275-ish MB for Private Bytes and 170-ish MB for Private WS (this latter one being the

[2021-08-20 11:29] digimezzo commented on #156
Thank you for reporting this. I've fixed the long title problem. As for CPU usage, I've created a separate issue #158, so that I can close this issue concerning long title names.

[2021-08-20 11:30] #156 closed

[2021-08-20 14:33] g-yui commented on #134
I've had this bug happen to me on occasion, but it works mostly ok for me, I've also noticed that songs tend to repeat themselves, I'm unsure about the workings of the shuffle itself, does it work via assigning a number to each track randomly and adding all to a playlist in said order or does it just pick a random song to play each time?

[2021-08-20 14:47] g-yui commented on #152
I've had "Unknown artist" and "Unknown title" listed in the UI, even though in the song selector the title does appear.
See here for example:
![img](https://user-images.githubusercontent.com/79342645/130250207-13e9f90c-5120-444b-ad56-f6e561541f75.jpg)
Perhaps it should have as a fallback the filename to avoid this issue?

Also, I've had that bug you described happen to me, wherein the song I'm loo

[2021-08-20 22:08] digimezzo commented on #155
This issue is fixed in preview 4.

[2021-08-20 22:08] #155 closed

[2021-08-20 22:10] digimezzo commented on #127
Preview 4 adds custom theme support. This issue can be addressed by the user by creating a new theme and tweaking the colors.

[2021-08-20 22:10] #127 closed

[2021-08-20 22:10] digimezzo commented on #107
This was added in Preview 4.

[2021-08-20 22:10] #107 closed

[2021-08-20 22:12] digimezzo commented on #40
Yes it does.

[2021-08-20 22:12] #40 closed

[2021-08-20 22:13] digimezzo commented on #6
Dopamine 2 and 3 now have this functionality.

[2021-08-20 22:13] #6 closed

[2021-08-21 02:41] MulverineX opened #159 "[Suggestion] Add custom CSS (minified) field to themes"

[2021-08-21 05:30] Cyberdroid1 commented on #127
Thank you!

[2021-08-21 07:04] digimezzo opened #160 "Implementation of the "Love feature."
Suggested by a user:

1.. Make like/love button on by default. And optional to turn it off.
2.. When I press first love button, dopamine will automatically create a playlist named- loved songs or liked for all loved songs.

[2021-08-22 06:25] digimezzo opened #161 "Implement update of play and skip counts"
See title.

[2021-08-22 08:46] harujii opened #162 "Keep aspect ratio of cover art"
Cover art is not always square. The aspect ratio of cover art should be taken into account when displaying it.

[2021-08-22 12:01] #139 closed

[2021-08-22 16:13] digimezzo commented on #157
@g-yui I seem to have fixed the better-sqlite build issue by upgrading better-sqlite3. I now have a missing icons error (due to file associations which are configured in electron-builder.json) :). I must now create some mac icons, in .icns format, for the supported file types). That'll probably be for tomorrow.

[2021-08-22 17:40] MulverineX commented on #139
I'm looking at the 2 passed action runs and can't find the artifacts, are they disabled temporarily while you fix issues with the mac build?

[2021-08-22 17:54] g-yui commented on #139
No artifacts are uploaded just yet on main.yml, it's mostly a test run for all builds.
windows.yml does upload an artifact to a release draft, since I used it as somewhat of a testing ground.
I'll eventually update the main.yml to allow for draft creation and artifact uploading and then I'll push a PR to dopamine, that is, if Digimezzo doesn't do it himself by that time.

Also, see #157 for the Ma

[2021-08-22 18:16] MulverineX commented on #139
Well I'm not personally a Mac user, that was just a guess as to why artifacts aren't being uploaded. I'm talking about GH:A's feature where you can attach binaries to an action run, where they're downloadable in a zip, it's totally understandable if not every action run results in a Release.

[2021-08-22 18:20] g-yui commented on #139
Ah, I'm not very well versed in how actions work, how would you implement that into the current main.yml file?

[2021-08-22 18:24] MulverineX commented on #139
I don't remember what path Dopamine's builds are under, but this workflow is a good example

[2021-08-22 18:27] MulverineX commented on #139
(edited)

[2021-08-22 18:34] g-yui commented on #139
Currently testing, I'm unsure if release is indeed the folder I'm looking for but here goes nothing
[ci](https://github.com/g-yui/dopamine/actions/runs/1156314846)

[2021-08-22 18:53] g-yui commented on #139
Well, I'll need to target the specific files, since it ended up taking way too much space, but it did work ;)
https://github.com/g-yui/dopamine/actions/runs/1156314846

[2021-08-22 19:05] MulverineX commented on #139
You could move them to another directory.

[2021-08-22 19:09] g-yui commented on #139
I'm trying this for now ;) [main.yml](https://github.com/g-yui/dopamine/actions/runs/1156368972/workflow)

[2021-08-22 19:51] digimezzo commented on #157
@g-yui The mac build is now fixed.

[2021-08-22 19:58] g-yui commented on #157
Nice, thanks :D

[2021-08-22 19:58] #157 closed

[2021-08-22 20:04] digimezzo commented on #139
Looking good 👍. I like the idea of automatically building and publishing artifacts: at each release is logical, but I'm thinking also intermediate builds, maybe on each merge of a PR to master? That would allow adventurous users to test out pre-previews 😜. I'll think about it a bit more.

[2021-08-22 20:12] digimezzo commented on #157
Now we need someone with a mac to test it out. I have no idea if it runs :)

[2021-08-22 20:14] g-yui commented on #157
Neither do I! But it does compile, so I'd call that a win :D

[2021-08-22 20:15] MulverineX commented on #139
You can probably massively cut down on the build time by compiling all three on a single macOS run.

[2021-08-22 20:18] MulverineX commented on #139
Yikes. I would look into using another library.

[2021-08-22 20:54] g-yui commented on #139
I can't find the folder and I've tried three times, pain TwT
Here's hoping [this](https://github.com/g-yui/dopamine/actions/runs/1156524135) build works

[2021-08-23 00:17] g-yui commented on #139
Alas, it works now, after giving up and reading the small documentation for uploading artifacts. It just works now (・ω・)
I have it on workflow dispatch since changing it with push meant a lot of small annoyances while writing it, this can be easily changed by erasing the comment character in  "#push:" , also made a PR (#163) for it, later I'll make a check to see if it was triggered via workflow t

[2021-08-23 00:25] g-yui opened #164 "Bold text looks very blurry on Windows"
The blur comes back to take revenge for the last time you tried to take it out 😨

![img](https://user-images.githubusercontent.com/79342645/130375045-a7f3ee32-740f-46a6-9aa2-e79119482b8d.jpg)

Frankly I have no idea why this happens.

Latest source code build, [this one](https://github.com/g-yui/dopamine/runs/3395544944?check_suite_focus=true) specifically.
OS: Windows 11.

[2021-08-23 04:47] digimezzo commented on #139
Better-sqlite3 was selected after weeks of research and testing. I would have preferred a Javascript library, in order to be able to build for all systems on 1 OS. But there is just none that is as performant as better-sqlite3. Also, JS libraries load the whole database in memory, which was not an option. As for winning build time, the 3 builds run in parallel, so it's probably faster as it is now

[2021-08-23 04:50] digimezzo commented on #164
Did you also have this problem on Windows 10?

[2021-08-23 06:53] MulverineX commented on #139
I didn't say slower, I said inefficient. But fair enough if you couldn't find a better native library. Definitely better than the alternative (in-memory), especially for 4gb memory devices with big libraries.

[2021-08-23 07:53] digimezzo commented on #164
I'm having the same problem on Windows 10. It seems that only bold font are affected. I'll try to find out what's happening.
![image](https://user-images.githubusercontent.com/11945339/130410866-1cc6cf19-7dae-456e-a8a6-521cb03bc442.png)

[2021-08-23 07:57] digimezzo commented on #164
It might be related to this: https://stackoverflow.com/questions/21332475/bold-fonts-in-google-chrome-are-blurry-font-face
I, indeed, don't specify a bold font-face for opensans (that's the font that is used in the UI). So Chrome/ Electron might try to create its generate bold via an algorithm, which is not as pretty as real bold. I'll try to fix this tonight.

[2021-08-23 09:33] #164 closed

[2021-08-23 12:40] g-yui commented on #139
I had one such system a long time ago, would've definitely destroyed it, since it already was struggling with ram usage due to Windows and my then browser of choice.
The ram usage of the current Dopamine build is rather good for the amount of music I throw at it, and I bet most of the current ram usage is just Electron being Electron. It just needs to fix #158 and what's left of #129 to be incredi

[2021-08-23 12:43] g-yui commented on #164
Yup, that did the job. Nicely done!

[2021-08-24 09:28] Dan-cer opened #167 "Dopamine3-installation doesn't work on Ubuntu or Mint with Gnome"
I failed to get Dopamine 3 preview 4 starting on my Linux Mint Cinnamon, tried it with both .AppImage and .deb file.
In both cases there only is a launch icon on my taskbar and a white empty window.

Researching about AppImage showed me that there is a general problem to get AppImages work on Gnome platforms.

[2021-08-24 09:42] digimezzo commented on #167
@Dan-cer Could you send me the log file? It's in .config/Dopamine/logs/

[2021-08-24 09:52] Dan-cer commented on #167
Yes, sure:

Digimezzo schrieb am Dienstag 24 August 2021 11:42:34 (+02:00):

@Dan-cer Could you send me the log file? It's in .config/Dopamine/logs/

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
[2021-08-23 17:38:26.150] [info]  [Main] [] +++ Starting +++
[

[2021-08-24 09:56] digimezzo commented on #167
When the white window is showing, could you press F12 on you keyboard and go to the "Console" tab? Then please paste the content of the console tab here.

[2021-08-24 10:15] Dan-cer commented on #167
The result is attached.

Digimezzo schrieb am Dienstag 24 August 2021 11:56:55 (+02:00):

When the white window is showing, could you press F12 on you keyboard and go to the "Console" tab? Then please paste the content of the console tab here.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with G

[2021-08-24 10:16] Dan-cer commented on #167
BTW: I have to start Dopamin with terminal, because there is no launcher yet in the menu.

Digimezzo schrieb am Dienstag 24 August 2021 11:56:55 (+02:00):

When the white window is showing, could you press F12 on you keyboard and go to the "Console" tab? Then please paste the content of the console tab here.

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2021-08-24 10:32] digimezzo commented on #167
What version of Linux Mint Cinnamon are you using? I need to try it out.

[2021-08-24 11:24] Dan-cer commented on #167
20.2, the latest release.

Digimezzo schrieb am Dienstag 24 August 2021 12:32:43 (+02:00):

What version of Linux Mint Cinnamon are you using? I need to try it out.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-08-24 11:53] sivajone commented on #167
same problem on debian 11
![image](https://user-images.githubusercontent.com/48877780/130611816-835304e5-fac8-4561-b222-c49e2be3b085.png)

[2021-08-24 11:56] Dan-cer commented on #167
Yes, here is an article about AppImages:
https://www.techrepublic.com/article/why-i-have-a-problem-with-appimages-on-linux/

Sivaj schrieb am Dienstag 24 August 2021 13:53:46 (+02:00):

same problem on debian 11

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-08-24 11:58] sivajone commented on #167
i used Debian package and btw i use KDE

[2021-08-24 12:04] Dan-cer commented on #167
Oh, then KDE is not without problems here as well.

Sivaj schrieb am Dienstag 24 August 2021 13:58:48 (+02:00):

Yes, here is an article about AppImages:
https://www.techrepublic.com/article/why-i-have-a-problem-with-appimages-on-linux/

Sivaj schrieb am Dienstag 24 August 2021 13:53:46 (+02:00):

same problem on debian 11

—
You are receiving this because you were mentioned.
Reply to this email d

[2021-08-24 16:51] digimezzo opened #168 "Welcome screen does not scroll"
Welcome screen does not scroll when the resolution is too small.

[2021-08-24 17:02] digimezzo commented on #167
There are different things going on here.

First of all, AppImages aren't evil, as stated in the article. The article is just a personal opinion of a AppImage hater. There is no technical information in the article as of why AppImage is not good. AppImage has its limitations (I experienced that I could not set file associations to Dopamine with the AppImage installer). Other than that, AppImage is

[2021-08-24 17:11] Dan-cer commented on #167
Thank you so much for your very detailed answer.

Have I to wait for Preview 5 then? Or am I able to use the AppImage of 4 using the Launcher?
I'm excited to try it out, so I will try the 4.

And thank you for your great work and quick improvements!

Digimezzo schrieb am Dienstag 24 August 2021 19:02:12 (+02:00):

There are different things going on here.

First of all, AppImages aren't evil, as s

[2021-08-24 17:15] digimezzo commented on #167
Preview 4 won't work, even with AppImage launcher. Because the problem has nothing to do with that. You'll need to wait until Preview 5. I'll try to have it ready very quickly.

[2021-08-24 17:25] Dan-cer commented on #167
Good to know, thanks.

Digimezzo schrieb am Dienstag 24 August 2021 19:15:31 (+02:00):

Preview 4 won't work, even with AppImage launcher. Because the problem has nothing to do with that. You'll need to wait until Preview 5. I'll try to have it ready very quickly.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notificat

[2021-08-24 17:52] digimezzo commented on #167
@Dan-cer I've updated the .AppImage and .deb in the Preview 4 release. They should now work. Could you try them out?

[2021-08-24 21:05] Dan-cer commented on #167
The AppImage is starting and working.
To use the .deb have I to add `GLIBC_2.33`? BC I can't find it within my synaptic.

Digimezzo schrieb am Dienstag 24 August 2021 19:52:29 (+02:00):

@Dan-cer I've updated the .AppImage and .deb in the Preview 4 release. They should now work. Could you try them out?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2021-08-24 21:09] digimezzo commented on #167
@Dan-cer You don't have to install glibc. The .deb should also work now.

[2021-08-24 21:10] Dan-cer commented on #167
AppImage is running fine. However, the AppImageLauncher hasn't created a .desktop starter automatically. Have I to do it manually now, or is there another solution?

BTW: How can I use my playlists? Is there no playlist-feature integrated yet?

Digimezzo schrieb am Dienstag 24 August 2021 19:52:29 (+02:00):

@Dan-cer I've updated the .AppImage and .deb in the Preview 4 release. They should now wor

[2021-08-24 21:22] Dan-cer commented on #167
OK, there is an installation in /opt/dopamine, and there is a .desktop file in /usr/share/applications.

However, that file doesn't work yet. Wrong Exec?
I attached the code.

Digimezzo schrieb am Dienstag 24 August 2021 23:09:43 (+02:00):

@Dan-cer You don't have to install glibc. The .deb should also work now.

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2021-08-25 05:07] digimezzo commented on #167
There is no playlists support yet, but that's coming soon. I don't know why the desktop file doesn't work. Could you attach the content? I don't see it now.

[2021-08-28 05:22] g-yui opened #170 "[Suggestion] Latest songs added automatic playlist"
This is a feature I would personally love to see added, to describe it more in detail:
- An automatically created playlist, or perhaps one that the user could ask Dopamine to create, depending on how performance-heavy this feature could prove to be, based on the latest song that the user has added to its library, the playlist would contain an aggregate of the songs that have been added up to two~i

[2021-08-28 10:45] digimezzo opened #171 "Album redraw should be more responsive"
- Shorten the redraw delay on window resize
- Check out why redraw only happens on mouse release when resizing columns

[2021-08-28 12:26] digimezzo opened #172 "Improve Linux UI integration"
Small improvements to theming to improve integration with Linux:

- Add separate theming for scrollbars
- Allow centering of album info text
- Change album selector so it looks good when the album info pane has no background

[2021-08-28 15:03] MulverineX commented on #172
Would be way easier to just add #159... Manual CSS configuration is nothing new for light power users of Linux.

[2021-08-28 19:33] digimezzo commented on #172
#159 will probably never happen. A few reasons on the top of my head:

- Positioning UI elements is already challenging, even without users doing their own thing.
- The CSS classes will probably change a lot while the software grows, which will break theming.
- Maintaining such customizability on the long run will be a crazy job for me. Each time I want to change something or add functionality, I

[2021-08-28 19:35] digimezzo commented on #159
Sorry, this will probably never happen. A few reasons on the top of my head:

- Positioning UI elements is already challenging, even without users doing their own thing.
- The CSS classes will probably change a lot while the software grows, which will break theming.
- Maintaining such customizability on the long run will be a crazy job for me. Each time I want to change something or add --function

[2021-08-28 23:45] MulverineX commented on #159
It can be something that is clearly marked as unsupported & unstable. The local music player is already it's own niche in the current day, so it's probably not a bad assumption that there's way more programmers that would use dopamine relative to Spotify. This feature will let users modify to their hearts content, and if it breaks in an update then they can check the git diff. Eventually breaking

[2021-08-30 21:00] #167 closed

[2021-09-03 19:02] digimezzo commented on #172
Fixed in e9d66585f7c1932b5825cd7c0074c15558d015f2

[2021-09-03 19:02] #172 closed

[2021-09-07 23:47] comradekingu commented on #151
Crowdin is only free at the "Academic" tier. Its other offering is for non-commercial Open Source, which is not the same.
In terms of usability, resulting quality, and the logic of the voting system, it is an unmitigated disaster.

https://weblate.bubu1.eu/ is gratis, and https://hosted.weblate.org/hosting/ while not gratis, doesn't have unreasonable demands or terms. The terms and conditions of C

[2021-09-08 05:10] MulverineX commented on #151
Are you suggesting an alternative? Because I doubt much of that ultimately matters as it's literally just translation strings, and the small parts that aren't great don't make it worse than what we're currently doing. If you want to contribute translations and you actually care about all that you can PR the output JSON directly, I'm pretty sure you could set it up to work both ways.

[2021-09-08 14:22] navidmafi commented on #6
It would be great to add an option to enable or disable this feature.
This can be an option in settings, or something like Spotify's "Private session"

[2021-09-08 16:50] digimezzo commented on #6
There is already such option in the **Settings > Online** tab

[2021-09-09 03:48] sirjacob2u opened #175 "Feature Request: The option to backup and restore from a dopamine database"
I moved my music library to a new drive and all the data about my songs and albums were gone. It's like I imported everything for the first time.

[2021-09-09 05:20] MulverineX commented on #175
Then this has the wrong issue title, "The option to migrate database file paths", would probably be a better title.

[2021-09-10 08:38] Bearlify opened #176 "Request: user-set maximum volume level (slider as percentage of said volume)"
As volumes set in Windows' volume mixer reset on restart of an app it would be useful to incorporate its function in Dopamine 3.
The current maximum volume blasts my ears out so I find myself in the 1-10%ish range at all times. Finer volume control would be appreciated!

[2021-09-10 17:07] navidmafi commented on #6
Oh, sorry, I didn't even see there were tabs for settings
Thanks

[2021-09-14 08:01] luximus-hunter opened #177 "[enhancement] Add option to hide duplicate songs"
This is a feature request for an option to hide duplicate songs. As I download my songs per artist, I get quite a few duplicate songs.

![image](https://user-images.githubusercontent.com/49814847/133219336-9eff984b-e1fd-4620-9efc-e681e4bc133e.png)

A toggle to hide duplicate songs would be amazing. It could be a check on name and artists, since that'd be enough for most people.

[2021-09-14 15:52] ZealTaku opened #178 "[Enhancement] Request cross-fading"
I have posted this before, however on April 30th of 2020  #112  so quite some time ago. Basically I proposed for a cross-fading/gapless transition when listening to music. Much like the android application Pulsar+ which does the same thing. 1500-10000ms or higher range is good enough for cross-fade.

[2021-09-17 05:16] digimezzo opened #179 "Ellipsis doesn't work in Artists and Genres lists"
See title

[2021-09-17 06:33] abulka commented on #94
Dopamine not seeing `composer` metadata is a huge blind spot in my classical music collection.
Ideally composers would be listed in the `Artists` tab?

[2021-09-17 18:29] p-yukusai opened #181 "[Suggestion] Theme fallback"
Dopamine should fallback on a default theme if the current theme is invalid, instead of causing the app to close itself, or if closing is necessary, it should change to a default on the next run, to make it easier on end users in case of a potential update that breaks a theme.

[2021-09-17 20:28] digimezzo commented on #181
@p-yukusai Thanks for pointing that out. I forgot to take this into account.

[2021-09-17 21:50] #181 closed

[2021-09-18 05:29] #179 closed

[2021-09-18 06:26] #168 closed

[2021-09-20 08:21] cyiii opened #182 "[Suggesstion] Albums Sorted by Year"
Hey there i love your work and im using Dopamine for some time now and i love it.

But over the time i really got used to the way Dopamine sorted albums by year, it was more condenst.
Now every year has its own "row" (english isnt my native language, im trying my best, sorry).

is there any chance you could give us back the old way of sorting by year?

i really appreciate what you are doing!!

Sve

[2021-09-20 08:41] Muspellheimer opened #183 "Preview 6 Controls dont work"
Im using win11 insider build and i did use preview 4 until now

I just downloaded preview 6 and it seems like there is something wrong with the interface.
after installing pre6 i can not click on any element located below the progress bar.

the progrees bar itself works just fine like everything else.
nothing is clickable below the bar.

[2021-09-20 08:45] digimezzo commented on #183
@Muspellheimer Thank you for logging this issue. it's indeed broken. I've removed the downloads for preview 6 for now and will fix this bug in preview 7 today.

[2021-09-20 08:53] #183 closed

[2021-09-20 09:24] Muspellheimer opened #184 "Preview 6 scrollbar color"
after installing preview 6 the scrollbars are no longer in "system color" they are changed back to the standart blue.

[2021-09-20 14:15] Crocodile73 opened #185 "External Music Drive"
version 3 preview 7. Does not load any music from an external drive.

[2021-09-20 14:49:05.960] [error] [IndexablePathFetcher] [getIndexablePathsForSingleFolderAsync] Error occurred while getting files recursively. Error EPERM: operation not permitted, lstat 'M:\\System Volume Information'

[2021-09-21 20:23] nikkopt commented on #182
That was one of the reasons why i changed back to 2.x, and the fact that i cannot change the thumbnails size.

[2021-09-21 21:31] digimezzo commented on #185
@Crocodile73 Could you add your whole log file? I need more info to understand this problem.

[2021-09-21 21:31] digimezzo commented on #184
@Muspellheimer That's indeed a bug. I'll fix it in the next preview.

[2021-09-21 21:32] digimezzo commented on #182
@Muspellheimer I can add an option to switch to both type of album sorting.
@nikkopt Don't give up too quick, or check back later. Dopamine 3 is still in preview. Features of Dopamine 2 are gradually added (and tumbnail sizes will be one of them).

[2021-09-21 21:48] nikkopt commented on #182
@digimezzo i will keep checking.
There is only one thing i don't like about version 2.x and it's the time it takes for the album covers to appear. It takes time and the animation isn't fluid. This only happens when i put my computer in energy saving mode which caps the cpu speed to 2.4Ghz. If i use the balanced or performance mode and let the cpu reach it's maximum 4.4GHz, it's way faster and flui

[2021-09-22 07:16] Muspellheimer commented on #182
an option to switch between settings would be cool.
most of the bands i lsten to do not put out multiple albums a year so i have to scroll 15minutes to get to the album from 1980 thats why im asking!!

i love your work!!

[2021-09-22 09:40] Crocodile73 commented on #185
[Dopamine.log](https://github.com/digimezzo/dopamine/files/7209577/Dopamine.log)

[2021-09-22 13:29] digimezzo commented on #185
Hmm, I expected more from the logs :( I can only see that it fails to read the "System Volume Information" folder on the M: drive, which is normal. Could you also attach your Dopamine.db?

[2021-09-22 13:49] Crocodile73 commented on #185
[Dopamine.zip](https://github.com/digimezzo/dopamine/files/7211231/Dopamine.zip)

i have had no issues etc with version 2.

[2021-09-22 13:56] digimezzo commented on #185
Where is your music located on the M: drive? Are the music files in subfolder?

[2021-09-22 14:07] Crocodile73 commented on #185
yes M Drive, then sorted as normal in there own folders. so like m:\coldplay - rushofbloodtothehead\(all the music files)

[2021-09-23 08:29] grafmariyan opened #186 "Suggestion Playlist"
The player is very nice but it doesn't have playlist option for linux. i'm using ubuntu 21

[2021-09-23 11:47] digimezzo commented on #186
That feature is next in line (planned for preview 8). I'm gradually adding all features of Dopamine 2 to Dopamine 3.

[2021-09-24 06:08] #184 closed

[2021-09-29 00:31] robonxt opened #187 "[Suggestion] iBroadcast & Plugins"
As someone who uses multiple devices to listen to music, after the death of Google Play Music (RIP GPM), I switched around with several cloud storage services until I found [iBroadcast](https://ibroadcast.com/home/), a free web-based music cloud service similar to GPM. It's still in beta, but it has a API and sample python script to upload/download songs into their cloud system.
Once the major fea

[2021-09-29 05:38] MulverineX commented on #187
Relevant: https://github.com/digimezzo/dopamine/issues/110#issuecomment-833241521

[2021-09-29 05:39] MulverineX commented on #187
The basic Amazon Music tier (that comes with the popular Amazon Prime) also has a music upload feature, and ofc there's other examples like doing it manually via google drive, an AWS instance, etc.

[2021-09-29 07:51] Dogo314 opened #188 "[Suggestion] Next/Prev album buttons & Custom album order"
1. Next/Prev album buttons - I have seen these buttons in other players and I find them most useful when there are many singles or EP next to each other.
2. Custim album order - add a new way of sorting your abums, this one being a custom orther that can be saved, imported or expoted.
3. A few enhancements to albums' presentation like name positioned in the cover (with or without a solid backgroun

[2021-09-29 11:52] digimezzo commented on #153
Added. Awaiting merge: https://github.com/electron/apps/pull/1896

[2021-09-29 23:07] robonxt commented on #187
Thanks for pointing that out, I didn't look at the past requests to see if it was already asked.

Yes, I am aware of those services, was wondering about integrating iBroadcast as they don't have a "local" app to play their music as far as I know.

[2021-09-30 02:48] VintageEngineer commented on #178
Just came here looking to see if Dopamine has gapless playback?  This request implies that it does not, but gapless IS DIFFERENT from crossfading.
Can't listen to albums like Pink Floyd's "Dark Side of the Moon" or many (most?) classical albums and many live albums without gapless playback...

[2021-10-02 07:02] VojtaNesvadba opened #189 "[Suggestion] When browsing on adding folders to collection, be able to select multiple folders at once."
It's kinda annoying if you just wanna select exact folders with albums, that you got in one folder and need to select once per once. Is there some way to let users select multiple folders when adding to collection at once?

[2021-10-03 06:27] digimezzo commented on #189
That's currently not possible. But I'll add this feature.

[2021-10-06 01:59] asvacc opened #190 "[Enhancement] Album sort "Album By Artist" should ignore articles"
Looks like sorting under the "Albums" tab for "Album Artist" doesn't use the sortableString method that strips out `"The", "A", etc. ` articles from the album artist name like the Artist tab does.

![image](https://user-images.githubusercontent.com/7175056/136128657-0fc5a19e-6405-4de1-8bc0-44d27a36d817.png)

![image](https://user-images.githubusercontent.com/7175056/136128687-0a7e84bc-130c-4d16-b2

[2021-10-08 11:12] mickaellecolazet opened #191 "Podcasts"
Bonjour Raphaël,

Est-ce qu'il est prévu d'implémenter la gestion des podcasts sur Dopamine (soit via flux rss, ou directement dans le soft) ?

Merci.

[2021-10-10 01:12] g-yui commented on #191
Une idée similaire a déjà été demandée [ici](https://github.com/digimezzo/dopamine/issues/110#issuecomment-833241521) et [ici](https://github.com/digimezzo/dopamine/issues/187)
Bonne journée

[2021-10-15 04:44] rokogan opened #193 "If the name of the track has "#" in it Dopamine 3 can't play it"
Dopamine 3.0 Preview 7
![gQG2OcMxcX](https://user-images.githubusercontent.com/64978256/137433268-cf3fd4f0-d812-416c-b6c2-2276cd76cd97.gif)

[2021-10-17 00:56] JSR-Gaming-x opened #194 "Add support for ftp / sftp servers."
[Enhancement] I'd like to see an option to add ftp / sftp servers/folders. I'm currently using sshfs to make this work. (I'm on Linux)

btw Dopamine is incredible. "Cheers."

[2021-10-17 17:13] digimezzo commented on #189
Please keep the issue open. Otherwise I might forget about it :)

[2021-10-25 19:04] TurtleP opened #196 "[Feature Request/Help] Shuffle All Songs"
Hi,

Something that has been on my mind recently with Dopamine 3 is that I want to be able to play *all* of my songs. I especially use the shuffle feature for this (which is quite important to me for a music player, see #134).

Anyways, while I don't mind trying to listen to a whole artist or album in the meantime, I would like to know if it's possible to just queue up all my songs. So far I haven

[2021-10-28 16:45] #196 closed, assigned to nobody

[2021-10-29 08:12] CYAXXX opened #197 "How I can start translating?"

[2021-11-08 21:04] DutchEclipse opened #198 "Normalize volume of audio"
Dopamine is perfect, except for a big feature that's missing. There is no normalized audio, sometimes you got a mp3 that's really loud that blows your ears out, and then you got a quiet tune that is barely hearable.

Spotify has this feature and it's absolutely perfect, but i'm hoping Dopamine will add it aswell.
![image](https://user-images.githubusercontent.com/83969413/140817666-270a1e3b-dee0-4

[2021-11-13 02:30] Arnab11 opened #199 "Equilizer"
Where is the equilizer in dopamine 3? it's been really handy in dopamine 2. Please add this.

One more request please make linux packages as Snap/Flatpak

[2021-11-16 21:05] fusionneur opened #200 "allow disabling scrobbling"
Dopamine automatically attempts connecting to internet for scrobbling (﻿130.211.19.189:80 TCP , ws.audioscrobbler.com).
There should be a toggle to disable these checks. (one reason would  be for privacy since there are unencrypted requests via http towards Google cloud)

[2021-11-16 22:42] digimezzo commented on #200
@fusionneur Thanks for pointing this out. This should have been an option from the beginning, but I lost track of it.

[2021-11-20 10:15] grafmariyan opened #201 "What I need to change dopamine"
So I want to add playlist option but I have no idea what I need for that. I already know some html css is that enough?

[2021-11-20 13:08] digimezzo commented on #201
@grafmariyan Thanks for willing to help. I'm afraid that some html and css knowlegde won't be enough. There's quite a big architecture in Typescript required to get this to work.
I'm currently already working on the playlist option. It's taking some time, because life is rather busy right now, but I'm working on it everyday. I'm trying to get it ready ASAP.

[2021-11-20 18:45] grafmariyan commented on #201
Yo do very good job. People should donate more to devs like you

На сб, 20 ное 2021 г., 14:08 Digimezzo ***@***.***> написа:

[2021-11-21 09:15] digimezzo commented on #201
@grafmariyan Thank you!

[2021-11-21 11:35] Parzival5129 commented on #201
@digimezzo Glad to hear you are still on it. So many music programs have been cancelled already. Take your time. Im very excited for the new playlist feature you are working on. Its one of the most important features directly after the ability to edit songs!

[2021-11-21 11:44] Parzival5129 opened #202 "[Enhancement] Taskbar options"
It would be very nice to see the progress of the playing song in the taskbar again and add the media buttons if you hold the mouse on the icon please!

[2021-11-21 11:45] Parzival5129 commented on #177
I thought it would be visual bug?

[2021-11-21 18:15] Parzival5129 opened #203 "[Enhancement] Remind the last song played"
title

[2021-11-24 20:44] Parzival5129 opened #204 "[Enhancement] Option to display album name instead of artist in full-screen"
title

[2021-12-03 23:45] LunarBolt1984 commented on #101
Related to this, it would be nice to be able to skip by letter. For example, if I want to find an album that starts with "T" fast,  I could just press "t" on my keyboard and be taken to those albums.

Alternatively, maybe something like what Groove Music has got where you can click on "A" above the "A" albums, and a box will pop up with the other letters that you can then click and get taken to th

[2021-12-09 15:55] AKmatiAK opened #205 "[ENCHANCEMENT] Play all music in playback queue instead of only results when searching."
Hi. When I search for some music titles and play them it plays only music from results. What I want is to play it in all music playlist, that is search music and when I play some it plays in order from my music library not only searches. Maybe add option to allow chosing between current behavior and my suggestion.

[2021-12-09 15:56] AKmatiAK commented on #201
I'll donate next month when I get salary to keep this great project alive ;)

[2021-12-09 16:45] AKmatiAK opened #206 "Keyboard previous/next song keys not working with dopamine."
Play/pause and volume keys work properly. When I press previous/next windows media keys "windows" appears, but song doesn't change.

[2021-12-11 04:12] #197 closed

[2021-12-19 16:55] digimezzo opened #207 "Add blacklist support"
Implement a blacklist, as a counterpart to the favorite list. Sometimes, there are songs of an artist or album that a user does not want to hear. It should be possible to add those to a blacklist. Songs in the backlist will be skipped when it's their turn to be blacked in the queue.

[2021-12-27 05:54] SnowMeteors commented on #205
I need this function

[2021-12-31 05:21] Ahmed-Ali7 opened #208 "Dopamine crashes on custom themes which have unsupported properties"
can't start , I got error then it closes
windows 10

[2021-12-31 07:32] digimezzo commented on #208
Could you send the log file?

[2021-12-31 10:18] Muspellheimer commented on #199
its pre release and in full dev mode.

use your brain... thank you

[2021-12-31 18:19] Ahmed-Ali7 commented on #208
[Dopamine.log](https://github.com/digimezzo/dopamine/files/7796846/Dopamine.log)

[2022-01-01 09:26] digimezzo commented on #208
The crash is caused by a custom theme that is not supported anymore in Preview 7. You'll have to remove the custom theme so Dopamine uses the default theme at the next startup. Then you can re-create your custom theme using the the new theme structure. Such situations are handled badly in preview 7. I'll make this more user friendly in preview 8.

[2022-01-01 09:35] digimezzo commented on #199
@Arnab11 Sorry for my late reply and sorry for the extremely rude response that you got from @Muspellheimer. This is not the kind of attitude that I want on this repository.

Dopamine 3 is currently in preview mode. It was built from scratch to provide cross-platform support. That is a big task which takes a longtime and because of that, Dopamine 3 is still missing a lot of features compared to Do

[2022-01-01 09:39] Arnab11 commented on #199
Thanks for the reply, I am really excited for the dopamine 3 release. Also it will run on linux. also love the interface of dopamine 3, Thanks for the hard work.

[2022-01-01 09:41] Muspellheimer commented on #199
ok you little fuck up it seems like you are confused...

rude and reallity isnt the same thing... keep sucking dick you little fuck shit...

[2022-01-01 10:02] Ahmed-Ali7 commented on #208
done. thanks. it's working normally now.

[2022-01-01 12:10] digimezzo commented on #199
@Arnab11 You're very welcome :) Thank you for loving Dopamine.

[2022-01-01 12:11] #199 closed

[2022-01-01 12:12] digimezzo commented on #208
@Ahmed-Ali7 You're welcome. I've reopened the issue and modified the title a bit, so I remember to fix it for preview 8. Thanks for reporting this problem.

[2022-01-01 12:26] digimezzo opened #209 "Discord Rich Presence says "Playing" instead of "Listening to""
Reported by a user:

Hello, when i activate Discord enrich presence it says "Playing Dopamine" and not "Listening to... " can you fix it? i have the same problem with the old version (Dopamine)

[2022-01-01 20:21] thatShadowbon opened #210 "Random crashes when skipping songs"
They're very inconsistent and rare, I only ever crashed around 3 times so it's not a big problem, but a friend told me to make this anyway. I dont know what causes it, I dont know if the log will help but I attached it anyway. Sorry if I'm unhelpful.
[Dopamine.log](https://github.com/digimezzo/dopamine/files/7798180/Dopamine.log)

[2022-01-08 03:07] EndLordMC opened #213 "[suggestion] Media key functionality on windows"
The pause button on my keyboard does work, but not the backwards & forwards keys, not even when the application is in-focus. Adding support for these keys, and possibly more, would be a good addition for this music player.

[2022-01-09 00:48] jbaylies commented on #198
https://en.wikipedia.org/wiki/ReplayGain

[2022-01-09 01:38] jbaylies commented on #185
for the record I've had no issues with a large external network drive.

windows 10, dopamine v3.0.0-preview7

[2022-01-11 18:55] peter-fb commented on #4
Here are some Radio Paradise (ad-free) stream links:
https://radioparadise.com/listen/stream-links

They also include FLAC and Ogg Vorbis streams.

[2022-01-12 21:16] AKmatiAK commented on #213
https://github.com/digimezzo/dopamine/issues/206

[2022-01-16 07:52] SIVAH-AKASH opened #214 "Add Last.fm support"
## I'm submitting a...

<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
</code></pre>

Feature request for adding support for Last.fm scrobbling in Dopamine 3.
I believe we are supposed to log issues for Dopamine 3 also here. Apologies if that is not the case.

[2022-01-22 13:16] digimezzo commented on #214
Hi @SIVAH-AKASH. Last.fm support is coming. The plan is to add all features of Dopamine 2 to Dopamine 3.

[2022-02-09 08:31] digimezzo opened #215 "Evaluate displaying of playlist items as albums"
This is a user's request:

Dopamine lacks is the option to open a playlist and view the contents represented as album covers. I often make playlists of ALBUMS that I group together but I can only view the playlist as a long list of tracks.

Just as an example of what I mean, I made this playlist on iTunes with a few random songs, then selected "view as albums" in the options bar.

![image](https:/

[2022-02-09 11:26] SiskSjet opened #216 "External Control API alike feature"
[code]
Will there be something like the External Control API of Dopamine 2?

An API to control play, pause, next, etc. with the associated events and readout of the current track.

[2022-02-11 21:53] galathil opened #217 "Infinite loop?"
Hi,

I cannot use Dopamine 3, the interface is freezing (can move the window but no controls works)
The network access \\NAS works perfectly in windows explorer.

Here, the output when I start Dopamine from a windows cmd :
[code]

How can i provide to you more debug info?
Is there a way to reset configuration? Dopamine doesn't work even after reinstall.

[2022-02-14 18:20] jesuscc1993 opened #218 "[Feature request] Grid view for artists"
<pre><code>[ ] Regression
[ ] Bug report
[x] Feature request
</code></pre>

Currently, the app lists the artists on a sidebar. This limits the amount shown at a time at ~20 and makes browsing extremely inefficient.
It would make more sense to display them in a grid view, in the center of the screen, which is able to comfortably display 50 at once.
Space aside, it would also make more sense to disp

[2022-02-14 23:32] TestForFunOrSo opened #219 "[FEATURE REQUEST] A Visualizer for your RGB Keyboard"
Razer Chroma Visualizer would Enhance the experience of listning music. The basic Visualizer from Synapse kinda sucks because you can Customize so little about it and doesnt have the smooth up and down chart. If its a bad idea just close the case

[2022-03-05 19:14] Seraaron opened #220 "Add "random" albums sort order"
One of my favorite features of [Lollypop](https://www.flathub.org/apps/details/org.gnome.Lollypop) is the 'recently added' tab, which sorts my music in the order it was added to my library. I love this feature because it makes it really easy to find and listen to new music as soon as I download it.

Similarly, the 'random' sort order for albums in Lollypop is nice too, since that sometimes shows m

[2022-03-07 19:35] Parzival5129 opened #222 "Right click to add to playlist menu broken"
Im using W11 and if I right click it and click on "add to playlist" nothing happens

[2022-03-08 18:44] digimezzo commented on #222
Could you send me the log file? Are you sure there is a song selected when right-clicking? (there should be, but I'm trying to understand what is happening).

[2022-03-08 18:55] digimezzo opened #223 "Changing playlist picture a second time does not update UI"
Bug rpeort by a user:

Dopamine3. Preview 8

Hi, sorry but I've found a bug with the changing the pic in the playlist, updating the pic from the default pic no problem, it's when if you decide to change your choice of pic it won't update It appears the file path is not being updated to the new choice.

[2022-03-08 19:32] Parzival5129 commented on #222
@digimezzo Yeah ive tried both albums and songs
[Dopamine.log](https://github.com/digimezzo/dopamine/files/8209095/Dopamine.log)

[2022-03-08 22:31] digimezzo commented on #222
Could you take a screenshot of your add to playlist menu and it's submenu's (if there are any).

Thanks!

[2022-03-09 17:15] Parzival5129 commented on #222
@digimezzo I can't go past the first one:
![image](https://user-images.githubusercontent.com/94785975/157494892-e3bdc2fe-3db4-4ca8-9a71-7faf584c8155.png)

[2022-03-09 17:26] Parzival5129 commented on #222
@digimezzo Oh I do have created 2 playlists already
![image](https://user-images.githubusercontent.com/94785975/157496891-bd1b719f-254b-4f6a-815d-f8faeda2ae7a.png)

[2022-03-09 17:27] Parzival5129 commented on #222
@digimezzo Seems like I have messed up Playlist Folders with actual Playlists. Should have taken a closer look on what I was doing

[2022-03-11 07:37] digimezzo opened #224 "Add Bulgarian translation"
{
    "hi": "Здравей!",
    "welcome-to-dopamine": "Добре дошли в Dopamine, смятаме, че ще ви хареса! Първо, нека настроим нещата.",
    "language": "Eзик",
    "pick-your-language": "Изберете своя език",
    "appearance": "Изглед",
    "what-should-dopamine-look-like": "Как трябва да изглежда вашият Dopamine?",
    "use-light-theme": "Използвай светла тема",
    "music": "Музика",
    "let-us-set

[2022-03-13 01:37] AnOldSaltedFish opened #225 "Want to add the ability to make it exist in the tray area"
I really want to add the ability to click the close button, not to close the software but to let it exist in the tray area

[2022-03-13 09:25] galathil commented on #217
up?

[2022-03-13 11:21] fusionneur commented on #200
I can't find the feature on the new preview. Was it added? Thanks!

[2022-03-13 17:36] DippyFoxDerg opened #226 "Suggestion for Album art to show in Discord Rich Presence"
How about an option for Discord Rich Presence to display the Album art of the Song you're currently listening to.

A visual to help explain what I mean:
[Discord Rich Presence if Show album cover is disabled](https://cdn.discordapp.com/attachments/898382590199890031/952619841532080148/unknown.png)
[Discord Rich Presence if Show album cover is enabled](https://cdn.discordapp.com/attachments/8983825

[2022-03-13 17:46] digimezzo commented on #217
HI. Sorry, I haven't found the source of the problem yet. You can reset the configuration by going to folder %appdata% and deleting the Dopamine folder.

[2022-03-13 17:47] #224 closed

[2022-03-13 17:47] digimezzo commented on #223
Fixed

[2022-03-13 17:47] #223 closed

[2022-03-13 17:47] #222 closed

[2022-03-13 18:58] galathil commented on #217
Thanks for your reply and the tips !

[2022-03-13 18:58] #217 closed

[2022-03-14 06:16] digimezzo commented on #200
@fusionneur Sorry, I forgot about it. I'm adding this right now. New preview coming in a day or 2.

[2022-03-15 09:01] Ahai-8 opened #227 "[bug] Can not play songs with special character in title or filename"
For example:
放課後ティータイム - ふわふわ時間(#23『放課後!』Mix)

[2022-03-16 01:11] Ahai-8 opened #228 "[bug] Albums - By last played can not refresh the sort after play songs"

[2022-03-16 01:20] sharefly617 opened #229 "[Suggestion] once clicked the now playing and returned to the album page, hope the album location can be located at whence is now playing, not from the start"

[2022-03-16 09:14] digimezzo commented on #220
Hi! Thanks for the suggestions.

You should be able to replicate the 'recently added' featuer of Lollipop by changing the sorting in any of the album view to 'By date added' (click on A-Z to cycle between the available options). I can add the 'random' album order there too in a next preview.

![image](https://user-images.githubusercontent.com/11945339/158556404-b0ba7b29-5949-4459-bd83-1e79010b9de6

[2022-03-16 10:08] digimezzo opened #230 "It should be possible to reorder tracks in playlists"
See title

[2022-03-16 12:58] digimezzo opened #231 "It should be possible to add songs to the end of the queue"
See title

[2022-03-16 12:59] digimezzo commented on #201
Playlist support was added in Preview 8. It'll still get improvements over the next previews.

[2022-03-16 12:59] #201 closed

[2022-03-16 21:09] digimezzo commented on #193
Related to #227

[2022-03-16 21:13] #193 closed

[2022-03-16 21:13] digimezzo commented on #227
Fixed in 18764ff0458371b7bae017d1a700bf3cbf8f544c

[2022-03-16 21:35] digimezzo commented on #209
This cannot be fixed. The 'Playing Dopamine' text is added by Discord itself. It is not customizable.

[2022-03-17 03:28] Mennaruuk commented on #79
Hey @digimezzo do you know where I can find this option in the Windows version? This is what I see:

![image](https://user-images.githubusercontent.com/52135169/158730951-5b3897fc-9edf-40dc-9f9d-8ab2c0caeef4.png)

[2022-03-17 05:33] #227 closed

[2022-03-17 05:43] digimezzo commented on #226
@DippyFoxDerg That's not possible unfortunately. The discord API doesn't allow sending images. The Dopamine icon that you see in Discord is an icon that is already uploaded to Discord in advance for the "Game" Dopamine. It is not sent to discord in real time.

[2022-03-17 19:53] Seraaron commented on #220
Cheers!

[2022-03-19 21:23] MulverineX commented on #226
@digimezzo that is incorrect, the ImageKey properties in discord Activity as of late support image URLs. See: https://github.com/th-ch/youtube-music/pull/524

[2022-03-19 23:00] digimezzo commented on #226
@MulverineX Thanks for pointing that out. I wasn't aware of this. It's still not ideal, as the images need to be hosted somewhere. But as you pointed out, it could use an image url coming from lastfm or other album art source.

[2022-03-22 05:37] digimezzo opened #233 "When opening queue, distinction with rest of UI is not clear on default dark theme."
See title

[2022-03-24 05:35] digimezzo opened #234 "It should be possible to remove songs from the queue"
See title

[2022-04-02 05:49] digimezzo opened #235 "Palenight theme issues"
- [x] Text and slider background is black when accidentally selecting light theme
- [x] Separator is invisible on context menu's

[2022-04-02 05:51] digimezzo commented on #234
Fixed in 64c8a6cfa8ef03649c0cf78bc1b3943cd8fb4a26 and 84c23cae469c67ad0f4e33db2c4df3e76a05d685

[2022-04-02 05:51] #234 closed

[2022-04-02 05:56] digimezzo opened #236 "Folders screen has no context menu"
It should be possible to add songs to playlists and queue from the folders screen.

[2022-04-02 14:25] Nicksden opened #237 "Add folder to playlist"
Hi! Thank you for your work, it's greatly appreciated!

I was wondering if it's possible to add a feature to enable adding songs to playlist from Folders tab or from "now playing" menu. If I have a folder with 5000 songs and each song has a different album and artist, it's very challenging to add all of these to a playlist.

[2022-04-04 06:03] #231 closed

[2022-04-04 20:42] digimezzo commented on #225
https://stackoverflow.com/questions/37828758/electron-js-how-to-minimize-close-window-to-system-tray-and-restore-window-back

[2022-04-06 14:56] Crocodile73 commented on #185
Any fix for this issue yet?

[2022-04-07 04:56] digimezzo commented on #185
No yet unfortunately. I'm not having this issue over here. That doesn't help in fixing it.

[2022-04-07 11:56] Crocodile73 commented on #185
Yes I will test when ready, no problem.

[2022-04-07 12:58] digimezzo commented on #185
Issue hopefully fixed in commit 0189d77903475d64ac8b36c3fcf24a8895a7dfab. Issue remains open until confirmation from @Crocodile73. The test preview will be ready today in a few hours.

[2022-04-07 13:45] digimezzo commented on #185
@Crocodile73 The preview containing the possible fix is available here: https://github.com/digimezzo/dopamine/releases/tag/v3.0.0-preview10-fix-issue-185

[2022-04-07 15:04] AKmatiAK opened #238 "Breakpoint has been reached error when trying to launch dopamine 3."
Log from today:
[2022-04-07 16:58:42.222] [info]  [Main] [] +++ Starting +++
[2022-04-07 16:58:55.838] [info]  [Main] [] +++ Starting +++
[2022-04-07 16:58:56.317] [info]  [AppComponent] [ngOnInit] +++ Started Dopamine 3.0.0-preview.10 +++
[2022-04-07 16:58:56.326] [info]  [AppearanceService] [applyTheme] Applied theme name=Beats' and theme classes='default-theme-dark'
[2022-04-07 16:58:56.362] [i

[2022-04-07 15:33] Crocodile73 commented on #185
That is working fine now for me. Great job.

[2022-04-07 17:08] #185 closed

[2022-04-07 22:49] AKmatiAK commented on #238
ok, seems to be my computer fault, my browser recently crashed with same error, probably because I have a lot of tabs opened

[2022-04-07 22:49] #238 closed

[2022-04-08 14:06] oliweroleksuch opened #239 "Keyboard media buttons don't work on Windows 11"
I have a Logitech keyboard that has media playback control buttons (prev., play/pause, next). All of them were working on Dopamine 2 on Windows 10. Now I have Dopamine 3 on Win 11 and the only button that is working is play/pause, the next and previous buttons are not.

[2022-04-08 17:10] gregoftheweb commented on #237
+1
Ideally a right click context menu that lets you add to playlist.

I drive my playing via the folder view (15,000 tracks already organized) but I'd love a quick way to add to playlist.  That'd be sweet.

[2022-04-08 20:49] vivadavid opened #240 "Will there be a portable version?"
Hi,

I've been using the portable version of Dopamine 2 for a few years and I was wondering if there will also be a portable version for Dopamine 3, as it's not currently the case. It would be greatly appreciated.

Thanks and keep up the good work!

[2022-04-11 04:57] #225 closed

[2022-04-11 18:04] gregoftheweb commented on #236
+1

[2022-04-12 22:05] gregoftheweb opened #242 "Building on Windows Issue - Angular/node_modules folder issue"
I seem to be doing something wrong.
OS: windows 10
Node version: v17.8.0
npm version: 8.6.0

When I run: npm install

It fails to complete.  It appears to fail in the creation of the node_modules folder and underlying modules.

key section.

...
....
npm WARN deprecated core-js@2.6.1: core-js@<3.4 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8

[2022-04-13 09:15] digimezzo commented on #242
Did you follow the build instructions for Windows here? https://github.com/digimezzo/dopamine/blob/master/README.md
It's important to install Node.js including the **Tools for Native Modules**. I hope that helps. Otherwise, building on Windows is broken, yet again.

[2022-04-13 15:19] gregoftheweb commented on #242
Thank you, I missed the fin print regarding installing Tools for Native Modules.  I will try that this evening after work.  I am interested in contributing to the project, however my experience is in React not Angular, but I will review the code.

[2022-04-15 13:10] trimechee opened #244 "Delete files definitly and play video mp4 files"
Hello, Dopamine player is wonrdeful and amazing ! thank you vey much ! please it wold be great if there is an option to have the ability to quickly and definitively delete files from the hard drive and option to play mp4 and video files, beacause sometimes, we download tv shows and documentaries and just want to listen when we go to sleep with the computer screen off, thank you very much!

[2022-04-17 19:29] #208 closed

[2022-04-19 09:14] #235 closed

[2022-04-19 19:11] #233 closed

[2022-04-20 17:49] #220 closed

[2022-04-23 05:43] digimezzo opened #245 "It should be possible to hide pages"
It should be possible to hide Artists, Albums,... pages

[2022-04-24 11:16] #236 closed

[2022-04-24 11:21] digimezzo commented on #237
Fixed in 54f259552b6ca6365a78ac7780f1cbf75bb6e95b

[2022-04-24 11:21] #237 closed

[2022-04-24 17:06] digimezzo opened #247 "Improve the tray icon"

[2022-04-24 17:08] digimezzo opened #248 "Add "Songs" screen"
This is how it looked in Dopamine 2
![image](https://user-images.githubusercontent.com/11945339/195596119-9d2974d7-03f1-4cb7-a857-1d2fb559de0b.png)

![image](https://user-images.githubusercontent.com/11945339/196884040-3743d34f-0660-4b6c-b4e7-0c4c613029bc.png)

[2022-04-24 17:08] digimezzo opened #249 "Add rating support"

[2022-04-24 17:08] digimezzo opened #250 "Add skip and playcount"

[2022-04-28 07:33] muspelll commented on #182
thanks for still not adding it back...

[2022-04-28 07:43] muspelll opened #251 "whats the plan here?"
why are you so keen to turn a really good music player into a joke?

your improvements most of the time are no improvements and removing functionality people used for years just baffles me.

i dont see a reason for multiple playlists and playlist queue (probably just, because you are ofc smarter)

removing a really good sort funtionallity just because you can... (really smart)

by the way... why d

[2022-04-28 08:14] muspelll commented on #251
adding something back what was aready there isnt coding from ground up...

keep killing it dude... you are good at it...

[2022-04-28 09:29] muspelll commented on #244
wtf???

[2022-04-28 10:09] muspelll commented on #251
thanks you retarded bastard

[2022-04-28 10:35] trimechee commented on #251
@digimezzo Thank you veru much :)

[2022-04-28 10:43] muspellll commented on #251
what a bunch of retarded cock suckers...

if you have children pls take a wire brush and fuck them...

[2022-04-28 10:56] trimechee commented on #251
@muspelll you should be banned for life from github and go for prison , you are a shame , shame on you , you are the evil

[2022-05-04 15:05] Mitia99 opened #254 "Windows 11 snap layouts"
Seem's like the app (3.0.0 preview 10)doesn't support windows 11 snap layouts yet.

Thanks for investigating,![Windows-11-Snap-Layout-large-display.jpg](https://user-images.githubusercontent.com/56766778/166711329-18c2789b-0a14-42d2-957b-110ade25269e.jpg)

[2022-05-04 18:48] darktomatoe opened #255 "Add album art sizing options"
The now playing screen should have a larger Album Art. I download Hi-Res art for my music and I wish Dopamine would display it at a larger size or allow us to customize how big it is.

[2022-05-05 03:11] MulverineX commented on #254
Per https://github.com/electron/electron/pull/29600 & https://github.com/electron/electron/pull/33440 this should be possible to implement in windows by switching to the native titlebar.

[2022-05-05 03:37] MulverineX commented on #255
On what page(s)?

[2022-05-05 11:07] digimezzo commented on #242
It's great news that you got it working. I hope you didn't have to flat your machine due to Dopamine though.

[2022-05-06 01:37] p-yukusai opened #256 "[Suggestion] Control song playback via multimedia keys"
Hello!
I use Dopamine a lot, it's my favorite music player and I would love to see as a QoL feature the ability to control playback with the multimedia keys, as it is very convenient overall.
I do not know enough about TypeScript nor the libraries the project uses to push a request by myself but just from parsing through the code I would love to see something like this added:

<details>
<summary>M

[2022-05-06 04:50] digimezzo commented on #256
I'll have a look at this. I did some research and found some links that should help me implement this feature:

https://www.electronjs.org/docs/latest/api/global-shortcut
https://can3p.github.io/blog/2016/09/13/electron/

[2022-05-06 14:55] gregoftheweb commented on #249
For windows, this should leverage the built in extended properties ratings if possible.  I've done a bit of poking around with them over here: https://github.com/gregoftheweb/ps-file-extended-prop-lister/blob/main/File-Lister-Script.ps1

[2022-05-06 15:22] gregoftheweb commented on #64
For windows I've found the best add-to-playlist-from-track functionality is in MS Windows Groove.  I went through an extensive check of all the players (Media Monkey, Clementine, Groove, VLC etc) and Groove was the best.  I was making a BIG playlist for a two week sailboat race and wanted an easy way to make it.

Of course Groove is useless because Microsoft then creates the playlist in a propriet

[2022-05-06 15:23] gregoftheweb commented on #64
![groove playlist ss](https://user-images.githubusercontent.com/17965568/167163254-e30a1786-3ebc-4a81-8dc2-c7b99520b44b.png)

[2022-05-06 20:54] gregoftheweb opened #257 "Folder view - show folder name of current selected / playing folder"
Love Dopamine, the folder view is simple and great.  I have all my music already organized so I don't need a complex library created for me so this is awesome.

One improvement I'd like to see is a minor change and that would be to show the current selected and playing folder in the folder tree like so:
![image](https://user-images.githubusercontent.com/17965568/167215073-bb237b5e-42e8-45c5-978c-b

[2022-05-06 20:56] gregoftheweb commented on #257
I tried looking into the code and found where it should be but was not able to surface the folder name.

[2022-05-07 06:33] digimezzo commented on #64
@gregoftheweb Thanks for the tip! I'll check it out.

[2022-05-08 09:21] AKmatiAK commented on #158
I also noticed increasing CPU usage, after playing some songs it becomes so high that music is intermittent.

[2022-05-08 09:30] AKmatiAK commented on #129
I confirm mouse movement issue.

[2022-05-09 15:43] gregoftheweb commented on #64
Also map the workflow to some hotkeys.

- Like click on Key X adds to current selected playlist

- or click on Key X opens add-to-playlist menu with last selected playlist selected (and then enter to add to that playlist)

Makes for MUCH faster playlist creation, all from the keyboard.

[2022-05-11 19:31] p-yukusai opened #259 "[Bug] UI not updating or freezing"
If Dopamine is minimized to tray and then launched from a shortcut, for example from within a taskbar icon, the app will reappear but will not focus and when is manually maximized the UI will freeze, this can be fixed by pressing the "Show Dopamine" button from the tray, it is also worth noting that the UI icons, such as pause or play, will not update until pressed multiple times, UI icons will al

[2022-05-15 18:58] #247 closed

[2022-05-25 09:41] Flexusma opened #260 "Chromium audio engine doesn't play certain .flac's or other formats"
I've recently started using the preview versions of v3 and I've noticed that most of my .flac files don't play with a DOMException `DOMException: Failed to load because no supported source was found.`

This is probably an issue with chromium, so I don't think it is an easy fix. My idea is to maybe use a version of ffmpeg to transcode certain audio files that fail to load or have an unsupported cod

[2022-05-27 18:23] djkato opened #261 "Top right corner doesn't show the resize window mouse cursor"
Top right corner doesn't show the resize window mouse cursor, so I can only resize by the other corners.
Version: 3.0.0-preview.10
OS: Windows 10
![wfx5pRB1Zf](https://user-images.githubusercontent.com/25299243/170768604-39cb479c-4660-41ed-aed8-ae33a202082c.gif)

[2022-05-28 10:59] Trsier opened #262 "Add rainmeter support"
Would like to see rainmeter support if it's possible.

[2022-06-16 21:04] digimezzo opened #264 "Add option to change the playlists folder location"
Requested by user:

I was wondering if you could add a functionality to chose the Playlists folder location, It could ease the process of synchronizing it with clouds (Nextcloud in my case) a little bit, depending of our configurations.

[2022-06-16 22:06] digimezzo opened #265 "Add option to show/hide volume percent next to volume bar"

[2022-06-19 06:37] #245 closed

[2022-06-19 20:50] #161 closed

[2022-06-21 15:35] Agnosh opened #267 "App Has Started to Run Very Slow"
For some reason, my app is now running very slow. Initially, I thought it was just my PC, but it is only Dopamine that is running slow and none of my other apps. The only thing that I can think of that is making the app run slow is the fact that I have just crossed 9900 songs in my library, other than that I have no idea what could be causing this. I am running the latest stable release (2.0.9) an

[2022-06-21 16:52] Blboun3 opened #268 "Bug: Discord rich presence: time left not working after swtiching song"
Discord rich presence time left not working when you start listening to song or next song in playlist, it says 00:00 left, have to pause and unpause to fix, then time left works how it should.

[2022-07-22 15:09] StarrKiss opened #269 "Add custom font size + typefaces"
I understand this is not top priority rn, but I would very much appreciate custom fonts and sizes. I personally find small text hard to use, and while I do not have dyslexia, I like to use dyslexic fonts or increase the type size. In addition to that, I like to have header/display fonts convey a unique aesthetic.

Obviously things like last.fm integrtion should come frst, but this should be implem

[2022-07-22 16:11] Blenux opened #270 "Enabling Discord Rich Presence turns it off."
OS: Windows 10
Version: 3.0.0-preview.11

Installed and enable DRP during first setup.

Issue:  Toggle is reversed.
![Discord_lFZf0cuhwL](https://user-images.githubusercontent.com/25260650/180479930-bc0fca5c-a531-4350-a988-59677f951cb9.gif)

[2022-07-23 11:49] Blenux commented on #270
Same Issue on Linux.

[2022-07-25 10:32] digimezzo commented on #270
Thanks for reporting this. I found the problem and it will be fixed in the next preview.

[2022-07-25 16:45] #270 closed

[2022-07-26 06:27] #268 closed

[2022-07-29 10:01] YnopTafGib opened #272 "Bug : Dopamine crashes with \\ in album artist field"
Dopamine crashes when clicking on an album with an album artist field containing a double backslash (\\\\) :
For example : 'Queen\\\\test' creates a separate album with a special character, removing the \\\\ fixes the issue.

![exemple](https://user-images.githubusercontent.com/52357185/181735189-1ff30369-7e2c-441f-a402-5c17349bc102.png)

[2022-07-29 10:48] digimezzo commented on #272
Thanks for reporting this. I'll have a look at it.

[2022-08-08 00:32] Michael-Obele opened #691 "[Feature Request]: It should be possible to rearrange the queue."
## I'm submitting a...

<pre><code>
[ ] Regression
[ ] Bug report
[x] Feature request
</code></pre>

It would be ideal to be able to manually shift about and rearrange an existing queue or what is now playing. So far, it appears that a playlist is required because once songs are added, the queue order cannot be adjusted; the only options are deleting and'remove from playing queue'.

[2022-08-08 19:23] roozbehzarei opened #273 "Crash on launch in Linux"
Dopamine crashes on launch in Linux. Here's the associated log:

Dopamine: v3.0.0-preview12
Linux: Ubuntu-based 22.04 LTS

[2022-08-10 18:34] digimezzo commented on #273
Note to self: could this be caused by the build environment. Maybe the Linux build is done on a non-LTS version of Ubuntu?

[2022-08-12 04:45] rifth427 opened #274 "Dopamine Version 3.0.0 Preview 12 Windows File Playback Problem"
Hey, I'm a little confused as to where to post this but dopamine 3 will not begin or play at all m4a files from Apple iTunes flawless encoding.  It lists them as playable but they won't play.  I tried installing K-lite codecs I thought maybe I was missing something but naw.

[2022-08-12 04:49] rifth427 commented on #274
Oh and btw I love the UI and the feel overall, the simplicity of Dopamine. :)

[2022-08-13 01:44] tocotronaut opened #275 "German Translation"
Please add German Translation.
Filename should be de.json
Most is translated, but not everything.

{
    "language-name-english": "German",
    "language-name-localized": "Deutsch",
    "hi": "Hi!",
    "welcome-to-dopamine": "Willkommen bei Dopamine, du wirst uns Lieben! Lass uns ein paar Einstellungen setzen.",
    "language": "Sprache",
    "pick-your-language": "Wähle deine Sprache",
    "appe

[2022-08-13 01:47] tocotronaut commented on #248
Yeah, it would be nice to have a Song section.

[2022-08-14 08:17] teremy commented on #244
I just searched for the play mp4 file feature. It shouldn't be too difficult to implement. I'd like to have this feature too.

[2022-08-14 09:01] trimechee commented on #244
I hope so in sha Allah

[2022-08-15 01:52] DreamPhreak opened #277 "Few suggestions + 1 issue"
I am loving this program so far, but I want to give a few suggestions:

1) Left-clicking on the tray icon doesn't open the program. Have to right-click, and then left click the option that appears. Would be nice to make it a single left click to open it.

2) One thing I look for in a music player is a rating system because the rating system built into windows is awful. I know this would probably b

[2022-08-15 05:16] digimezzo commented on #244
Both features (MP4 audio playback and file delete) are quick to add. I'll do it for the next preview.

[2022-08-15 10:47] trimechee commented on #244
Fantastic awesome !!! thank you very much 🥇

[2022-08-15 14:04] MionaHagiwara opened #278 "App conflicts with mydockfinder"
The program closes to the tray will make Mydockfinder crash, since I do not know which side of the problem so feedback on both sides

[2022-08-23 06:10] #244 closed

[2022-08-24 03:32] allancm opened #279 "Cannot compile if only VS Community 2022 is installed"
## I'm submitting a compilation issue

<pre><code>
</code></pre>

## I'm using these versions

* Windows version: Microsoft Windows [Version 10.0.22000.856]
* Dopamine version: master github version
*Visual Studio Code
Version: 1.70.2 (user setup)
Commit: e4503b30fc78200f846c62cf8091b76ff5547662
Date: 2022-08-16T05:35:13.448Z (1 wk ago)
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8

[2022-08-24 06:26] digimezzo commented on #279
@allancm  Did you install node.js including Tools for Native Modules? See Build prerequisites on Windows here: https://github.com/digimezzo/dopamine/blob/master/README.md

[2022-08-24 14:17] allancm commented on #279
Yes I have installed:
* node --version
v16.15.1
* npm --version
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
8.11.0
* code --version
1.70.2
e4503b30fc78200f846c62cf8091b76ff5547662
x64
* git --version
git version 2.33.1.windows.1
* git log -1
commit 1043f9b91b9ef03019ed8486de095f650cffc14c (HEAD -> master, origin/master, origin/HEAD)
Author: Digimez

[2022-08-24 14:40] allancm commented on #279
Next step
![image](https://user-images.githubusercontent.com/2113118/186445595-608afb15-f7ad-4e79-b62f-56c7c8cdd67b.png)
![image](https://user-images.githubusercontent.com/2113118/186445639-53097fc8-826d-4980-91a0-154ebe3ab8e1.png)
![image](https://user-images.githubusercontent.com/2113118/186445999-f98bcec0-df99-476b-b818-76d2b9b552d1.png)
![image](https://user-images.githubusercontent.com/211311

[2022-08-24 15:18] allancm commented on #279
After I reboot the machine, I think I am now closer with only the following errors in section postinstall

  • electron-builder  version=22.5.1
  • loaded configuration  file=F:\github\dopamine\electron-builder.json
  • rebuilding native dependencies  dependencies=better-sqlite3@7.1.2, register-scheme@0.0.2 platform=win32 arch=x64
  • install prebuilt binary  name=better-sqlite3 version=7.1.2 plat

[2022-08-25 20:52] digimezzo commented on #279
It's the building of the native libraries for better-sqlite3 that fails. I've struggled with that too in the past. It remains a challenge. They have prebuilt libraries to facilitate this process now. I'm checking it out now, but using those libraries requires that I update the version of better-sqlite3 and electron that I'm currently use. That introduces breaking changes that I need to resolve. So

[2022-08-26 09:34] #250 closed

[2022-08-26 18:58] digimezzo commented on #279
I've now updated to more recent versions of electron and better-sqlite3. This should make the compilation much easier.

[2022-08-27 03:39] allancm commented on #279
It seems that something else (not dopamine) installed me MS Build tools 2019.  I just uninstall that, and now it compiled successfully!
The npm install is now working fine.
The npm start is giving me now this error:

10% building 3/3 modules 0 active(node:20556) [DEP0111] DeprecationWarning: Access to process.binding('http_parser') is deprecated.
(Use `node --trace-deprecation ...` to show where t

[2022-08-27 04:49] digimezzo commented on #279
It seems caused by node.js versions since v17 because they fixed a vulnerability, which now causes this error in combination with some packages. See: https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported.

I recommend using the LTS version of node.js, which will resolve this issue. By the time a higher version becomes LTS, packages used by Dop

[2022-08-29 12:19] fighuass opened #280 "Add a waveform seekbar feature"
Example from another music player (Quod Libet):

![Screenshot_20220829_141724](https://user-images.githubusercontent.com/28998263/187199288-5d355d36-7362-4cf7-9adf-78c4e3f71714.png)

I'd imagine it could be toggled on and off in the settings, and then if it's turned on it would display directly above the player;

![Screenshot_20220829_141852](https://user-images.githubusercontent.com/28998263/1871

[2022-08-30 03:14] allancm commented on #279
Ok, you were right!
I installed nvm and then set the version of node to the latest version of 16.  Avoid 18 (the one I had before)

Now everything compiles and the executables in windows work as expected.

The last update with the current versions used:

1.70.2
e4503b30fc78200f846c62cf8091b76ff5547662
x64

8.15.0

git version 2.33.1.windows.1

1.1.9

commit 0fb67297a1d31b9ad651011031d477df070e2ff3

[2022-08-30 06:49] digimezzo commented on #279
That's great news! You're welcome :)

[2022-08-30 06:49] #279 closed

[2022-09-03 06:46] digimezzo opened #281 "Add saving of rating to mp3 files"

[2022-09-03 06:47] #249 closed

[2022-09-03 19:53] digimezzo commented on #273
I've tested this out and with Preview 11 and 12 Dopamine indeed crashes on Ubuntu. I've since updated a lot of components and the latest builds don't crash anymore. I suspect the crash was caused by an out of date Electron version. However, it is not 100% clear. So, preview 13 should fix this issue.

[2022-09-03 19:53] #273 closed

[2022-09-05 19:43] digimezzo opened #282 "Added tagging support"

[2022-09-07 16:11] adem4ik opened #284 "Volume control icon shifts on increasing volume"
Version: 3.0.0-preview.12
OS: Windows 10 x64

1. Scroll volume control from min to max

Result: volume control icon shifts to right on the last state
Video: https://recordit.co/zeYejDRQh5

[2022-09-07 17:16] digimezzo commented on #284
Nice catch! Thanks! I'll fix that in preview 13.

[2022-09-12 23:18] binocry opened #285 "How to go back to all song after choose album or artist?"
So in musicbee, if you using default settings or just install. After you select on artists on left sidebar to go back to se all my music you juat select "all artists" buttons on top. But in dopamine don't have that options so i stuck to only choose between my artist or albums.

Dopamine 3.0 Preview 12

[2022-09-13 18:07] digimezzo commented on #285
using CTRL+left click you can unselect the selected artist.

[2022-09-13 21:31] #281 closed

[2022-09-13 21:33] digimezzo commented on #272
Fixed in 63723046f426edb6a3d4b6504767d7c0d8d37bf6

[2022-09-13 21:33] #272 closed

[2022-09-14 04:56] #284 closed

[2022-09-14 07:21] digimezzo opened #286 "Add rating to now playing screen and controls"

[2022-09-14 07:23] digimezzo opened #287 "Add context menu option to view song file in folder"

[2022-09-14 21:47] Crocodile73 opened #288 "3.0 Preview 13 error"
[2022-09-14 22:40:06.850] [info]  [Main] [] +++ Starting +++
[2022-09-14 22:40:14.241] [info]  [App] [window-all-closed] +++ Stopping +++

launch dopamine, and a white window opens and says it has to close, see log. Log is as above. Its all the information it gives. Preview 12 works fine.

[2022-09-14 21:49] adem4ik opened #289 "Preview 13 doesn't start on Windows 10"
Version: [3.0 Preview 13](https://github.com/digimezzo/dopamine/releases/tag/v3.0.0-preview13)
OS: Windows 10 x64

1. Download Dopamine-3.0.0-preview.13.exe
2. Install
3. Try to run Dopamine

Result: Error
![image](https://user-images.githubusercontent.com/4707112/190268109-b2faeb7f-f85f-446e-88a8-1d68e5127f07.png)
Pressing on 'View log' gives nothing, it just closes the whole application.

Log fr

[2022-09-14 22:00] adem4ik opened #290 "Old copyright year in Information"
Version: : 3.0.0-preview.13
OS: Linux Manjaro

1. Open Menu - Information

Result: Copyright Digimezzo Ⓒ 2014 - 2021
Expected result: Copyright Digimezzo Ⓒ 2014 - **2022**

![image](https://user-images.githubusercontent.com/4707112/190270566-cde84faf-500e-45fe-8d3c-f83af4e6613a.png)

[2022-09-14 22:13] digimezzo commented on #290
Thanks! I'll fix that.
I have a question: did the fonts always look like on the screenshot? Because that is not how i intended for it to look like.

[2022-09-14 22:19] digimezzo opened #291 "Fonts are not loaded correctly"

[2022-09-15 03:23] bm20019-prn335-cicloII-2022 opened #292 "Add Spanish translation"
Please add this translation  es.json ('Spanish') to Dopamine.

[code]

[2022-09-15 04:37] #290 closed

[2022-09-15 04:37] digimezzo commented on #290
Thanks!

[2022-09-15 05:06] #292 closed

[2022-09-15 05:07] digimezzo commented on #292
Thanks a lot for this! You have made a lot of people happy :) This has been requested a lot.

[2022-09-15 06:40] #291 closed

[2022-09-15 12:44] MichaelPrinceps opened #293 "Bug -- Playlist cant be created on Windows 11"
After clicking ok button to create a playlist nothing happens after

And also nothing is shown on Albums section

[2022-09-15 13:06] digimezzo commented on #293
You probably created a palylist folder. You still need to create a playlst in that folder. Other users have notified me that it is confusing and I'll try to make this more clear in the future.

[2022-09-16 07:05] digimezzo commented on #289
Fixed in 2f2fc11e4ddd5738c82c05e643ea20c815101d72. using web technologies is hard sometimes. Their breaking changes have cost me multiple weeks of my life.

[2022-09-16 07:05] #289 closed

[2022-09-16 07:05] digimezzo commented on #288
Fixed in 2f2fc11e4ddd5738c82c05e643ea20c815101d72. using web technologies is hard sometimes. Their breaking changes have cost me multiple weeks of my life.

[2022-09-16 07:05] #288 closed

[2022-09-16 08:32] digimezzo opened #294 "Glitches in VMWare virtual machines"
TODO: add screenshots

[2022-09-16 10:13] adem4ik commented on #289
Tested latest nightly build https://github.com/digimezzo/dopamine/actions/runs/3066503527 - Dopamine works now on Windows 10:
![image](https://user-images.githubusercontent.com/4707112/190616351-66adc877-1c7b-419b-b52c-376f9a0c3200.png)

[2022-09-16 10:27] digimezzo commented on #289
Thanks for confirming!

[2022-09-16 10:34] digimezzo commented on #294
Reverting to Electron 17.3.1 fixed the issue for now. I'll need to keep this in mind when upgrading though.

[2022-09-16 11:29] adem4ik opened #295 "[Suggestion] Try to show full artist name in 'Now playing' screen"
Version: 3.0.0-preview.13 (nightly)
OS: Windows 10 x64
Screen resolution: 1600x900

1. Start playing any song with long artist name (i.e. `1000 Travels Of Jawaharlal` or `David Parsons, Jon Mark`)
2. Open `Now playing` screen

**Result:** only a part of the artist name is shown.
**Suggested result:** if the artist name doesn't fit - use 2 lines to show its name.

![2022-09-16_15-16](https://user-i

[2022-09-16 16:44] adem4ik opened #297 "[Suggestion] Restore main window by clicking on the tray icon"
Version: 3.0.0-preview.13 (nightly)
OS: Windows 10 x64

1. Enable `Behaviour` > `Minimize to the notification area` / `Close to the notification area`
2. Close or Minimize Dopamine to tray
3. Click on the tray icon

Result: Nothing happens
Suggested result: Restore main window (as it happens after using tray menu `Show Dopamone`)

[2022-09-16 18:17] fredericpetit02 opened #298 "Can't play music from my NAS on Ubuntu GNU/Linux"
Hi,

I put last Dopamine version on both Windows 11 and Ubuntu 22.04 (.exe and .deb assets). Everything works great for local music but not for distant files from my NAS freebox delta. On Ubuntu i see the files but impossible to play them, song is not started.

I opened every needed ports, and files can be played on VLC.

[2022-09-16 19:07] digimezzo commented on #298
Do the files play on Windows?

[2022-09-16 19:29] fredericpetit02 commented on #298
Yes on Windowe everything is fine.

Example for the file with path pasted from nautilus : `smb://freebox-server.local/volume%201000go/Musiques/Alessia%20Cara/Alessia%20Cara%20-%20Holiday%20Stuff%20(2020)%20Mp3%20320kbps/1. Make It To Christmas (Stripped).mp3`

Dopamine log :
`[2022-09-16 21:23:48.715] [info]  [PlaybackService] [play] Playing '/run/user/1000/gvfs/smb-share:server=freebox-server.loc

[2022-09-16 20:54] p-yukusai opened #299 "[Bug] Installer hangs due to registry entry"
The installer gets stuck, necessitating manual extraction of the package contents with 7zip.

![image](https://user-images.githubusercontent.com/85849071/190730191-ecc7e3e3-2853-4bae-b8ad-ffd8856f764a.png)

I believe it is due to having my default app storage setup to a drive separate from C:\ , like so:

![image](https://user-images.githubusercontent.com/85849071/190730529-ad0ef147-deb3-42b9-8509

[2022-09-17 07:16] digimezzo commented on #299
I've done some reseach and stumbled upon this bug in electron-builder (which generates the installer): https://github.com/electron-userland/electron-builder/issues/4057

Could it be that you manually deleted the Dopamine folder at some point without using Uninstall in control panel?

[2022-09-17 07:20] digimezzo commented on #297
I tried to implement this yesterday, but unfortunately this doesn't seem possible. A left click on the trya icon is intercepted by Electron and the tray menu is opened automatically. Whatever action I add to left click, it is ignored.

[2022-09-17 07:49] digimezzo opened #300 "Users often confuse playlist folders with playlists"
When users create a playlist folder, they explect that they created a playlist. So when right clicking an item (artist, album, ...) they expect this to appear in the "Add to playlist" menu but see nothing.

We should make it clear that, after creating a playlist folder, they must also create a playlist.

[2022-09-17 09:00] digimezzo commented on #300
Probably related to #293

[2022-09-17 15:11] AlexFogliani95 opened #301 "Add Italian language"
I'm submitting a...

[ ] Regression
[ ] Bug report
[x] Feature request

It's possible add Italian language?

[2022-09-17 15:14] AlexFogliani95 opened #302 "Add Italian language"
I'm submitting a...

[ ] Regression
[ ] Bug report
[x] Feature request

It's possible add italian language in Dopamine 3.0? It's available in Dopamine 2

[2022-09-17 15:14] #301 closed

[2022-09-17 22:53] fredericpetit02 commented on #298
HI,

I made a persistent mount in my fstab file for the NAS, rebuild a colleciton with this mount path and everything is great now :+1:

[2022-09-17 22:53] #298 closed

[2022-09-18 01:37] p-yukusai commented on #299
Apparently it had the entry in the registry even though this was a fresh install?
Regardless, this was indeed the issue and uninstalling from the control panel and using the installer again solved it. Thank you.

[2022-09-18 08:05] digimezzo commented on #299
Excellent! Thanks for checking that out. I'll re-open this issue though, so I remember to udpate electron-builder to a version that should not fail installing, even if the entry is in the registry.

[2022-09-18 08:06] digimezzo commented on #298
That's great news! Thanks for confirming.

[2022-09-18 10:34] #300 closed

[2022-09-18 10:34] digimezzo commented on #293
Fixed in 76720aae321f3b1339755093434d73e531a1fdba

[2022-09-18 10:34] #293 closed

[2022-09-19 03:38] EYHN opened #303 "search in japanese"
A chance discovery, I am not very familiar with Japanese.

I have a song named `グリーンライツ·セレナーデ`, when i search with `グリーンライツ` I got nothing, but with `グリーンライツ` I got the song. Two strings that look exactly the same but have different byte codes.

By checking the source code, I think it is because we normalized the original text of the song name and not the search text that caused this problem.

[2022-09-21 04:52] #287 closed

[2022-09-21 16:00] 8211198111 opened #304 "Direct Stream Digital"
Re: Dopamine v3 the best music player I've ever come across.

Hi, Would you please consider adding Direct Stream Digital D.S.D to Dopamine v3.
I am forced to use Foobar music player on my Windows 10 PC as it supports D.S.D.
I’m using a Quad Artera Play+ pre-amp which has a D.S.D USB input.
As I would much prefer to be using Dopamine v3 as my music player.
mwho196@gmail.com

[2022-09-22 05:58] digimezzo opened #305 "Add semantic zoom to Artists and Genres screens"
Like in Dopamine 2

![image](https://user-images.githubusercontent.com/11945339/191764110-36a8a47b-e544-429c-b85f-a21daa7a8efd.png)

[2022-09-23 06:33] digimezzo commented on #305
Max size:

![image](https://user-images.githubusercontent.com/11945339/191903918-7ca60b19-7218-4cef-bbbc-34253ab5dfae.png)

Min size:

![image](https://user-images.githubusercontent.com/11945339/191903954-b50687ac-4930-474e-9896-798a720612d2.png)

[2022-09-23 11:25] DJilaniE-070 opened #307 "Most of my songs are titled unknown"
After updating dopamine to the latest preview build (14), almost any of my songs have become titled "unknown".
The songs play just fine, its just that that i don't see the correct titles.
![image](https://user-images.githubusercontent.com/13946950/191950272-977e4c1d-2698-4c95-ac61-410a0e3dee40.png)
Appriciate the work done for such a fantastic audio player.

[2022-09-23 12:28] digimezzo commented on #307
Which version were you using before? Did the songs look Ok in that pervious version?

[2022-09-27 20:33] #305 closed

[2022-09-28 04:37] #299 closed

[2022-09-28 04:40] digimezzo opened #308 "Add smart playlists"

[2022-09-28 08:46] marcellotogg opened #310 "Music playing stutters"

[2022-09-28 11:11] malwarepad opened #309 "Discord RPC not working on the macOS version"
The rich presence is not even appearing on Discord, like at all! I can provide more info, but this is a pretty generic problem and I think you can replicate it extremely easily.

[2022-09-28 12:37] digimezzo commented on #309
Could you attach the log file? I'm not sure if anything concerning Discord will be logged, but it's a good place to start.
Also, while Dopamine is open, if you press F12, the developer console will open. In the console tab, are there any errors logged concerning Discord? Thanks.

[2022-09-28 14:15] malwarepad commented on #309
Wow, that reply was quick! No, there are no errors on the console tab. I don't really know the location of the log file. I can provide it if you inform me about it.

[2022-09-28 14:25] digimezzo commented on #309
I'm not sure where it's stored for Mac, but there's a trick to find the location of the log file (until I add a direct link):

- In Dopamine, go to Settings > Appearance
- Under "Color" click on "Add more themes". This will open the themes directory in your file explorer
- Go up 1 directory. There you'll see several directories, including the "logs" directory
- In the logs directory you'll find Do

[2022-09-28 15:19] malwarepad commented on #309
[Dopamine.log](https://github.com/digimezzo/dopamine/files/9666489/Dopamine.log)
You're not going to have a good time scrolling through though, as I have used your app a lot.. The file is quite large (~=1.2K lines).

[2022-09-28 20:03] #309 closed

[2022-09-28 20:04] digimezzo commented on #309
Thanks for the log. It didn't help unfortunately. But luckily, this problem seems to happen on all OS's, so I was able to pinpoint the issue. It'll be fixed in the next preview.

[2022-09-28 20:05] malwarepad commented on #309
Yup, I told you it was generic.. Glad I was able to help!

[2022-10-01 06:38] digimezzo opened #312 "Add last.fm artist info to now playing screen"

[2022-10-02 07:50] #286 closed

[2022-10-02 17:02] #295 closed

[2022-10-06 01:26] MadMarco64 commented on #277
I've been having the same issue, but i dont know how to make the actual playlist myself..

[2022-10-06 05:19] digimezzo commented on #277
@MadMarco64 Could you show me a screenshot of your Playlists screen?

[2022-10-06 12:50] digimezzo commented on #277
I broke the playlists screen in Preview 15 it seems. I've fixed the problem. It will be released in Preview 16 (release tomorrow).

[2022-10-06 12:52] digimezzo opened #313 "Rating is not shown on tracks lists"

[2022-10-06 12:54] digimezzo commented on #277
Fixed in f46192f811891bef813f253b744322fa20fd2cb3

[2022-10-06 14:46] digimezzo commented on #277
@DreamPhreak Sorry for hijacking your issue for the playlist screen issue :) To answer you questions:

1. Issue #297 explains why this, unfortunately, isn't possible.
2. Rating has, since you logged the issue, been implemented.
3. Preview 16 (release tomorrow) will add small improvements to the playlist screen to make it clear when a playlist folder does not have playlists yet.

[2022-10-06 16:48] #277 closed

[2022-10-07 05:08] digimezzo opened #314 "Add cover player"

[2022-10-08 04:36] Edison12300 opened #316 "[Enhancement] Add other ways to seperate artists"
Hi, is it possible to seperate the artists from one song with other punctuation?
For example, if one of the song's artist is "A, B", can it be identified as two artists, A and B, instead of one artist "A, B".

[2022-10-08 08:48] l37h3 commented on #275
There are some spelling mistakes.

[2022-10-08 10:09] tim-wang-tmp opened #318 "add Lyric"

[2022-10-08 18:10] gitexp2050 opened #319 "Requests"
1. Option to add lyrics content to the song
2. Option in json or any file to synchronize lyrics with song for every line or sentence which starts from
3. Option to have preset for music change
4. Support for old formats (.rm and .ram of real media player files)
5. Source code examples where lyrics can be synchronized with audio

- 1: https://codepen.io/z-/pen/MQRGOe
- 2: http://lusaisai.github.io/

[2022-10-11 20:09] digimezzo opened #320 "Disabled collection folder are being rescanned"
Steps to reproduce:

- Disable a collection folder
- Restart Dopamine

=> Tracks from the disabled folder are re-added

[2022-10-12 14:13] Blenux opened #321 "White edges between desktops in a Multi-Monitor setup."
I notice that in a PLP (Portrait - Landscape - Portrait layout) multi-monitor setup, there is white edges between each monitors, not sure if one can fix this, but it's the only application that does this.

https://user-images.githubusercontent.com/25260650/195365939-d7326868-e445-4058-9432-a2bab684b332.mp4

[2022-10-13 19:02] DJilaniE-070 commented on #307
My excuses for the late reaction, my notifications didnt come through. If i recall correctly i was on beta version 3. The songs looked fine on that version.

[2022-10-13 19:05] digimezzo commented on #307
@DJilaniE-070 Would you mind sharing one of those files that are now shown as unknown?

[2022-10-15 15:46] digimezzo opened #322 "Tabs above the notifcation are unclickable"
![image](https://user-images.githubusercontent.com/11945339/195995561-75ae6912-3e33-4636-999b-efb3db032b29.png)

[2022-10-17 17:09] digimezzo opened #323 "Features needed for Dopamine 3 release"
- [ ] Mini players
- [ ] Tagging
- [ ] Last.fm scrobbling
- [ ] Jump to playing song

[2022-10-17 19:38] #81 closed

[2022-10-17 19:41] #153 closed

[2022-10-18 09:28] jw288hk opened #324 "Dopamine"

[2022-10-18 14:29] its6pri1 opened #325 "You can drag and drop some elements that are not supposed to move (Dopamine 3 Preview 16)"
In preview 15 and 16, I was able to drag and drop some parts of the player that were not supposed to move (I think) by clicking on the upper part of the seek slider and moving the mouse upwards.

![dopamine dragndrop](https://user-images.githubusercontent.com/72049251/196458869-379adbe5-5606-4cca-9752-b1b932b248f7.gif)

[2022-10-19 09:28] digimezzo opened #326 "Loading files in the "Folders" screen is slow"

[2022-10-19 09:41] ceejayemm opened #327 "Album artwork missing"
I have been tracking this project intermittently for a while. I have been using the appimage version of Dopamine 11/12 for a while on MX Linux 21 and have recently update my desktop to  Plasma.  I then saw that release 16 was available so I downloaded the appimage version. The app seems fine, it plays all my albums without any problem - except ALL the album artwork has disappeared.  The library si

[2022-10-19 09:56] digimezzo commented on #327
Have you tried the Refresh options in the Album covers tab too? If yes, and that didn't help, could you send me the log file? It's in ~/.config/Dopamine/logs.

Could you also check the folder ~/.config/Dopamine/Cache/CoverArt if there are any cover art files in there?

[2022-10-19 10:30] ceejayemm commented on #327
After writing the issue log above I thought the only thing I havent tried is removing / readding the entire library.  I have now done this. Originally I had 330+ albums and 5000+ tracks and no album covers.  After readding my music library I have 11 albums and 154 songs but all the albums have artwork! It seems that NONE my .m4a albums are no longer recognised.

I have attached the log files as re

[2022-10-19 10:58] digimezzo commented on #327
Thanks, that's helpful info. I changed the tag-reading library in preview 16. So that's most likely why your m4a files are now failing. I'll further investigate and try to provide a fix as soon as possible.
I don't know if the following is a possibility, but do you think you could share one of some of those m4a files so I could perform some tests with them?

[2022-10-19 11:06] digimezzo opened #328 "Node-taglib-sharp does not support m4a"
Revert to musicmetadata for tag reading, as node-taglib-sharp does not support m4a.

[2022-10-19 21:30] ms-2525 opened #329 "Control the Playback Speed and set a default playback speed feature"
HI,
I would be nice if we can control the playback speed of the audio. I think a good audio player like dopamine should have this feature.
An option to set a default playback speed would also be good so that dopamine always play audio at user specifed playback speed say 1.3x
The use for this is when listening to audio notes.

Also assign a keyboard shortcut to control the playback speed like "[" w

[2022-10-21 09:10] digimezzo opened #330 "Searching is not implemented correctly in Folders screen"
The songs counter and total counters do not update when filtering

[2022-10-22 18:43] niaz-repos opened #331 "Add Lyrics Support"
Please add synchronized lyrics (lrc file) support.

[2022-10-23 11:35] handfordr commented on #307
I am also having the same problem.  The files are the archers omnibus from the bbc.

[2022-10-24 11:53] #322 closed

[2022-10-24 23:07] LuisErnesto120 opened #332 "[Bug] Queue loops if it has the same song two times"
Steps to recreate:
Add song 1 to queue in position 1
Add song 2 to queue in position 2
Add song 1 to queue in position 3
(optional) Add more songs to queue
What happens: after song 2 finishes, the player goes back to position 1 instead of position 3, so it loops forever, never stopping or reaching anything below position 3.

Related to this, if you were to do the following:
Add song 1 to queue in

[2022-10-25 15:45] qd1308504206 opened #333 "the Chinese music name decode ERROR"
version: 3.0.0 16

I put the mp3 file in the zip file .
please check it out.
[Uploading 黄金甲.zip…]()
![image](https://user-images.githubusercontent.com/25291683/197820331-a13b0295-d298-4c4d-ac55-ba080a9bfba3.png)

[2022-10-26 01:29] demperor-music opened #334 "[Feature Request] Ability to switch between client-side and server-side decoration"
Pretty self-explainatory, i use a tiling window manager on linux and would rather not have decoration, it looks out of place

[2022-10-27 05:25] overestimate commented on #323
You should probably pin this.

Also, few links I pulled that may be handy for implementing media controls (requires per-platform native modules, unfortunately):
 - [MPRIS2 implementation in Node](https://github.com/dbusjs/mpris-service)
 - [Cross-platform media controls written in Rust](https://docs.rs/souvlaki/latest/src/souvlaki/lib.rs.html)
 - [WinRT bindings for Node](https://github.com/demosj

[2022-10-27 05:27] overestimate opened #335 "[Suggestion] Built-in music tag editor"
Mainly the title. I really don't want to have to use yet another program *just* to set the artist field properly.

[2022-10-27 05:56] digimezzo commented on #323
Thanks for the tip (about pinning) and for the links :)

[2022-10-27 07:23] overestimate commented on #333
Classic case of [Mojibake](wikipedia.org/wiki/Mojibake). Could you try decompressing with [7-zip](https://www.7-zip.org) and keeping the actual archives outside of your library?

[2022-10-27 08:32] #328 closed

[2022-10-27 13:42] mahdimahdieh opened #336 "Persian/Arabic Font"
![image](https://user-images.githubusercontent.com/74340183/198298829-dad88d4e-83ff-458d-93d9-7cc555a476ae.png)
Persian/Arabic font in windows 11 automatically changed to Arial font which is an **awful** font and you can see that above.
Please simply just use standard open-source fonts like [vazirmatn ](https://github.com/rastikerdar/vazirmatn) or windows standard default fonts like Segoe UI.

[2022-10-27 19:54] binocry commented on #285
hi dopamine really heavy resource, specially on disk usage and cpu can you make it lighter somehow?

[2022-10-27 20:57] digimezzo opened #337 "Phase out music-metadata"
Music-metadata is going the way of the dodo, at least when it comes to usage in Electron.

![image](https://user-images.githubusercontent.com/11945339/198826642-ab1c8249-7b17-4287-bf6a-bd7f562b9278.png)

**Reason 1**: after the upgrade to Angular 12, decoding ogg files has become unbearably slow. Slowdown seems caused by this line in OggParser.parse():

`const pageData = await this.tokenizer.readT

[2022-10-28 17:37] XavBryant opened #338 "Auto type to find song while song list is focused"
In Firefox, as an example, if you start typing, it will automatically start searching for what you type.
Or in explorer, if you are in a folder, it will auto select the relevant file for the keys you start typing.
As in, if you type "f" it will highlight the first file that starts with "f", if you type "f", then "a", it will get the first alphabetical file starting with "fa".

Can we please implem

[2022-11-01 00:41] IgLocoXD opened #339 "[Feature Request] Last.FM Scrobble support."
I would be nice to have last.fm scrobble support for Dopamine 3 (Or some Preview Version) in the future!

[2022-11-02 08:16] tristengrant opened #340 "Feature: Compact player"
I'd love to see a compact player mode like what MusicBee has.

[2022-11-02 14:12] DJilaniE-070 commented on #307
https://drive.google.com/file/d/1QJwh0n7k8ia9hlEqHLofcuUFfgipIO5r/view?usp=share_link
Here is a song that doesn't show the title.

[2022-11-02 18:57] RandomAccountt opened #341 "OGG file metadata not being processed by application"
As shown in the following screenshots; files with the .ogg extension can be correctly tagged (done in Picard), but appear without data in Dopamine. The songs will play in dopamine as intended, but do not have an attached title, album art, artist name info etc. The songs can be opened in mpv and VLC, where the album art and title will display normally (i.e. the issue is not do to with the files the

[2022-11-02 19:02] digimezzo commented on #75
Fixed in b35f0eefb1c5698005e1a934582752c2389b6373

[2022-11-02 19:02] #75 closed

[2022-11-02 19:02] digimezzo commented on #248
Fixed in b35f0eefb1c5698005e1a934582752c2389b6373

[2022-11-02 19:02] #248 closed

[2022-11-02 19:07] digimezzo commented on #341
Could you share one or some of those files so I can perform tests with them? Thanks!

[2022-11-02 19:12] RandomAccountt commented on #341
I had to rename the file extension so that it would upload to GitHub. Change the `.zip` to `.ogg` once you've downloaded it :)
[calm3.zip](https://github.com/digimezzo/dopamine/files/9923435/calm3.zip)

[2022-11-02 20:27] digimezzo commented on #341
Thanks!

[2022-11-02 20:28] digimezzo commented on #307
Coudl you attach the file here. I don't have access to the Google drive. You might have to change the extension to .zip for example.

[2022-11-02 22:45] dbjungle commented on #340
I use the compact player a lot in Dopamine 2.  I'd love to see it in Dopamine 3 as well.

[2022-11-03 05:47] overestimate commented on #339
Already planned in #323.

[2022-11-03 05:48] overestimate commented on #340
It's on the milestone list, see #323.

[2022-11-03 11:53] abolfazlrvn opened #343 "New language"
Hello, I wrote the Persian local language for Dopamine Player, how should I send it to you to add it to the program?

[2022-11-03 12:01] DJilaniE-070 commented on #307
[StaySolidRocky, Lil Uzi Vert - Party Girl (Remix - Official Visualizer).zip](https://github.com/digimezzo/dopamine/files/9928081/StaySolidRocky.Lil.Uzi.Vert.-.Party.Girl.Remix.-.Official.Visualizer.zip)
here you go

[2022-11-03 14:12] digimezzo commented on #343
Hi! You can just paste the text here and I'll add it. Thank you so much!

[2022-11-03 14:25] abolfazlrvn commented on #343
Dopamine is really a good music player, because I enjoyed it, I added Persian language to it. I haven't finished the language yet, I will send it to you, thank you

[2022-11-03 14:28] abolfazlrvn opened #344 "Request more settings"
Hello and respect
Is it possible to add a part in the settings so that when the next music is played, the player will be placed in the topmost window (on other programs)?

[2022-11-03 15:48] ceejayemm commented on #327
I see that you have released Preview 17 which says it has a fix for this problem. I downloaded the 'appimage' version of this and installed it today.  I have:

- refreshed the existing library but still get only 11 albums and 154 tracks (there should be 330+/5500+) listed.
- dropped and reattached the library file system which causes an auto refresh - same as above.

In both cases I can see the nu

[2022-11-03 16:00] digimezzo commented on #327
Could you share some of the m4a files that are not being indexed? That would be of great help, because for the m4a's that I tested, indexing went well.

[2022-11-03 16:55] digimezzo commented on #307
I opened that file in mp3tag, and it has no tags. That's the reason they are listed as "Unknown". Could you check the tags?

[2022-11-03 18:36] abolfazlrvn commented on #343
[https://github.com/abolfazlrvn/dopamine](url)
dedicated to you

[2022-11-03 19:45] digimezzo commented on #327
I found a bug in the indexing logic. Files that Dopamine tried to index, but failed, are ignored the next time an indexing is performed. That sounds like what you are experiencing. I'll fix that. For your situation, I think that following steps should resolve your issue:

- Close Dopamine
- Delete Dopamine.db (for linux and mac Dopamine.db is in folder ~/.config/Dopamine, for Windows at %appdata%/

[2022-11-03 23:24] tristengrant commented on #340
I see Mini Player on the list, not compact player. A compact player sticks to the bottom or top of the display.

[2022-11-04 09:53] ceejayemm commented on #327
Hi

I have carried out the steps noted above and I now have a fully populated Library and things works as they used to.

Many thanks

Chris

[2022-11-04 09:53] #327 closed

[2022-11-04 10:25] digimezzo commented on #327
You're welcome! I'm glad it helped. I'll add an advanced option to reset the database for others in such situations, so they don't hav eto perform these manual steps.

[2022-11-04 10:27] digimezzo opened #345 "Add "Advanced" option to reset the database"
It should not happen that the Dopamine.db contains incorrect info. However, an indexing bug could lead to such situation. When it happens, users must manually delete their Dopamine.db file. To avoid having to tell users the manual steps to delete their Dopamine.db and to make his process easier for them, add an "Advanced" option to reset the database. Provide a confirmation window that clearly sta

[2022-11-04 17:58] digimezzo opened #346 "Add option to open the log file"

[2022-11-04 22:41] abolfazlrvn commented on #343
@digimezzo Hello and respect
Persian language changes were made for version 2.0.9 and I updated its file.
[https://github.com/abolfazlrvn/dopamineFAlang](url) dedicated to you

[2022-11-04 22:53] abolfazlrvn commented on #323
@digimezzo Hello and respect
If possible, a list of favorite songs
And in the settings section, please add a feature so that when the song is played or changed, the music player will be placed in the top window, thank you. you're perfect

[2022-11-04 22:54] #344 closed

[2022-11-04 22:55] abolfazlrvn commented on #336
@mahdimahdieh
با سلام و احترام
در ورژن های جدید این مشکل رفع شده.

[2022-11-05 09:44] abolfazlrvn opened #347 "[Feature Request] To adjust the volume"
Hello dear @digimezzo
It would be great if the volume control bar is displayed when the mouse moves over the volume icon.
tank you

[2022-11-06 22:33] DJilaniE-070 commented on #307
I can find a title tag with picard. But thats the only (useful) tag. The file doesn't appear to have any other tags.

[2022-11-07 06:05] SDVII opened #348 "Media controls are not working as expected"
Using keyboard media controls like pausing and skipping songs are not working correctly.

[2022-11-08 20:10] vp1981-lab opened #349 "Add new theme 'Airy'"
I made a new theme to fit UI better with Windows 11 default theme. I hope you add it in default themes, if you like it.

[](url)
[Airy.theme.txt](https://github.com/digimezzo/dopamine/files/9964825/Airy.theme.txt)

[2022-11-09 06:25] overestimate commented on #259
Still a problem as of 8f03699 (v3.0.0-preview17).

[2022-11-09 10:51] AndyFang36 opened #350 "It doesn't support .m4a file!"

[2022-11-09 11:00] digimezzo commented on #350
Which preview are you using. Preview 17 re-adds m4a support. If you're using preview 17 and your m4a's are not indexed, could you attached such m4a file to this issue (you'll ahve to rename it to .zip). Thanks!

[2022-11-09 12:02] Not-Sure-Whats-Going-On opened #351 "Display non-embedded album art (Folder.jpg)"
Loving Dopamine - works well with large collection.  My problem is that I have only started embedding album art within files recently.  All of my collection has albums sorted by directory and each directory has the music and a single file called Folder.jpg in it but these are not recognised.  Is there a way to get Dopamine to display these external files as album art without embedding them please?

[2022-11-09 12:08] AndyFang36 commented on #350
My system version: `Windows 11 Pro, 22H2`;
dopamine version: `3.0.0-preview.17`
------------------------------------------------
All the music files were indexed, but only m4a file can't play and its length is `00:00/00:00`.
I attached a m4a file for you to test.👇
[test.zip](https://github.com/digimezzo/dopamine/files/9970812/test.zip)

[2022-11-09 12:14] AndyFang36 commented on #350
![dopamine](https://user-images.githubusercontent.com/47175639/200827704-6bdc56b6-bd5c-4671-aeac-8eeac5e0e890.png)

[2022-11-10 20:14] abolfazlrvn commented on #349
Does this work for Windows 10? And how should we add it?

[2022-11-10 20:35] vp1981-lab commented on #349
It should work. Theme just changes colors program uses, it isn't OS specific, but there may be differences how the OS renders program window.

If you want try it, download attached "Airy.theme.txt" -file, remove ".txt" extension from the filename (leaving "Airy.theme"). Open Dopamine, go settings. In settings, Themes -section there is a link which says "Add more themes", which opens folder contain

[2022-11-11 14:29] uncognic commented on #343
Make a pull request

[2022-11-11 15:09] abolfazlrvn commented on #349
Thank you for your good explanation, but this option is not available in the Windows version.

[2022-11-11 17:02] abolfazlrvn commented on #343
Hello, thank you very much
I sent a pull request in the Windows version section, thanks
[Pull Request](https://github.com/digimezzo/dopamine-windows.git)

[2022-11-13 09:50] digimezzo opened #352 "Semantic zoom letter "h" is "f" instead"

[2022-11-13 15:26] #341 closed

[2022-11-13 15:38] #352 closed

[2022-11-13 16:35] digimezzo commented on #351
Hi! Are you using Dopamine in Windows, Linux or Mac? For Windows that should work. Dopamine looks at these files in the same directory as the audio files:

'front.png',
'front.jpg',
'front.jpeg',
'cover.png',
'cover.jpg',
'cover.jpeg',
'folder.png',
'folder.jpg',
'folder.jpeg',
'%filename%.png',
'%filename%.jpg',
'%filename%.jpeg'

Where %filename% contains the same name as the audio file. For Lin

[2022-11-13 16:41] digimezzo commented on #349
@vp1981-lab I really like your theme! It's very clean. I think the dark variant is not complete yet? I see that the colors are still the same as the default themes, and the tab colors are no tcolored like the light variant. Could you have a look at this? I'd definately add it to the defaults.

[2022-11-13 18:45] Not-Sure-Whats-Going-On commented on #351
Thanks for your reply.  Yes, I am using Linux.  I changed all the Folder.* to folder.* all is good with the world again.   Cheers!:+1:

[2022-11-13 19:06] #351 closed

[2022-11-13 20:10] digimezzo commented on #350
Thanks a lot for the file. I'll test this out!

[2022-11-14 18:55] Crocodile73 opened #353 "Albums not showing"
![unknown_2022 11 14-18 46](https://user-images.githubusercontent.com/16454525/201742287-601c5524-755c-4363-8b91-e28061018c15.png)

scan completes and show all the albums. When reopening again, it only shows as the picture. build 17 and 18

[2022-11-14 19:02] digimezzo commented on #353
It looks like it's not wrapping. What happens when you resize the Songs pane? Does it adapt the albums view?

[2022-11-14 19:11] Crocodile73 commented on #353
It shows the next album and then the rest of the albums as expected after few seconds. But it reverts on restart to the same row, but with that one extra album.

[2022-11-14 19:50] digimezzo commented on #353
Ok thanks. I'm hving it too now; I never noticed this before :) I'll fix it.

[2022-11-15 17:41] vp1981-lab commented on #349
Thanks! I will look at it.

[2022-11-16 14:32] Not-Sure-Whats-Going-On commented on #353
Me too. But I found that if I click on one of the displayed albums in the single row then wrap happens and everything displays OK.

[2022-11-16 20:30] digimezzo commented on #353
It seems to happen when the artists tab is not the default selected tab. When the player opens, it quickly changes to the tab that it should select (the one that was selected when last opening the player). The calculation of the rows on the albums pane however occurs too soon (before the tab switch has occurred). That causes the bug. I'm still looking into which way is best to solve it.

[2022-11-18 09:59] moopet commented on #353
I have the same issue, and though I can't grab a screenshot fast enough, the text on the left that says "123 Albums" has other text on top of it in the couple of seconds it takes for this page to first display. Perhaps it's a more global wrapping issue than just the cover art?

[2022-11-18 17:28] akano12 commented on #297
Well i was about to open the same suggestion,
hands down the best player i ever used on linux and it would be great if someone could figure a workaround for this.

[2022-11-18 20:06] #353 closed

[2022-11-19 14:21] vp1981-lab commented on #349
With improved dark mode.
[Airy.theme.txt](https://github.com/digimezzo/dopamine/files/10047180/Airy.theme.txt)

[2022-11-21 08:02] digimezzo commented on #214
Note to self: add love button.

![image](https://user-images.githubusercontent.com/11945339/202996335-5a1ada3f-aa73-4fcf-a569-1e255d7fbe1f.png)

[2022-11-21 21:14] mariqtereza opened #354 "Releases with the same name by the same artist are grouped as one"
I've noticed this when trying to organize my Bullet for My Valentine discography.
They have 2 releases with the same name and Dopamine groups them as one release.
Is there a workaround for this ?

![image_2022-11-21_231215663](https://user-images.githubusercontent.com/118773870/203159131-cb29dd63-c155-4006-9e7c-47788028d341.png)

[2022-11-21 21:47] digimezzo commented on #354
The album title needs to be different. Dopamine uses the combination of album title and album artist tag to group tracks into albums. Do other players creat differently with those tracks.

[2022-11-21 22:11] MulverineX commented on #354
You could add a heuristic to fix this via album art hash maybe? But yeah Dopamine uses local data, it doesn't itemize tracks on a hosted metadata DB, so unless there's different album art there's no way to fix this (without you manually adding (2) to the album title.

[2022-11-22 00:05] TheRealRequnix opened #355 "Latest build cannot add songs to Playlist"
Right-click on songs fails to bring up any menu, and as such I cannot see any way to add a song to a playlist.

[2022-11-23 10:01] mariqtereza commented on #354
Is what MulverineX said possible ? Using the album art as heuristic to fix this ?
Thank you for the answer !

[2022-11-23 19:54] digimezzo commented on #355
Is that only on the "Songs" screen? Or do you also have this on other screens. If only the songs screen: indeed, I forgot to add a right-click menu.

[2022-11-23 19:56] digimezzo commented on #354
I'm not sure I want to do this. I've seen strange collections where a single album has different pictures for its different songs. It would complicate things a lot.

[2022-11-23 20:23] Niavlys77 commented on #354
What about making use of album's directory paths for the grouping logic? Assuming the user has all their albums placed in their own distinct folders.. which I imagine some people might not do this.

I think this might be the best solution despite that, as it'd give users a method of resolving the mistaken grouping on their own accord (while also forcing those who care enough to better organize the

[2022-11-23 22:38] TheRealRequnix commented on #355
I believe it was on all screens; I tried to add to playlist any way I could think of and none worked.

[2022-11-24 08:02] digimezzo commented on #355
What operating system are you using?

[2022-11-24 13:26] akano12 opened #356 "How to Suppress This Error on Arch Linux (name mismatch/version mismatch)"
This is really getting annoying, each time i run a pacman command (any command) i get these 2 errors

`error: local database is inconsistent: name mismatch on package Dopamine-3.0.0`
`error: local database is inconsistent: version mismatch on package Dopamine-3.0.0`

currently have Dopamine-3.0.0 preview.18-1 installed
is there a way to suppress/mute/fix?

[2022-11-24 15:00] digimezzo commented on #356
Oh! I'm not the only one having this error :) I'll look into it.

[2022-11-24 18:14] clankfish commented on #356
Also getting this error!

[2022-11-24 19:34] digimezzo commented on #356
I've looked it up and tried some things. It seems caused by the versioning I'm using to indicate previews, ike: 3.0.0-preview.18. Arch based systems don't like this. Unfortunately you won't be able to get rid of this error. It's something I have to fix. I'll fix it in the next preview. It should be ready in a week or so (I'm adding Last.fm support, and it's progressing rather well).

[2022-11-25 11:11] digimezzo commented on #356
Fixed in ab469a5ba96473d8caecce5bf50961d226577d12

[2022-11-25 11:11] #356 closed

[2022-11-25 12:03] ararezaee commented on #323
@digimezzo Are you planning on bringing back those awesome visualization graphics that we had in previous versions?

[2022-11-26 22:09] djey47 opened #358 "m4a audio files with hash in the file name cannot be played"
Using 3.0.0-preview.18 on Windows 10

I found out one of my m4a files is listed in the folder view of dopamine ...   but playing results in no sound and no progress at all.

The other ones are played without issues.

I was able to reproduce:
- Take any m4a file and check it can be played (e.g "mytrack.m4a")
- Make a copy of it and add at least one hash (#) character in the file name (no effect in

[2022-11-28 17:46] SL-Pirate opened #359 "Compilation faliure code: ELIFECYCLE"
I followed the compilation instructions exactly as mentioned in the readme.md
`npm start` worked correctly and I was able to get the program up and running as intended. Then I closed the program by clicking the x button but the command was still running so I had to ctrl+C it.

Operating System: Arch Linux

npm debug log>>

`0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   '/home

[2022-11-29 17:49] #359 closed

[2022-11-30 08:59] jiaohuapa001 commented on #331
I am agree with you